%section#sponsors
	.wrapper
		%h1.heading
			%a{:name=>"sponsors"}
			%span Sponsors

		%ul.sponsors-list
			%li.half
				%a{:href=>"#intellection", :class=>"info fancybox", rel: 'sponsors', :title=>"Intellection"}
					= image_tag "logos/intellection2.png"
				.row
					%a{:href=>"http://www.intellection.io", :target=>"_blank", :title=>"Intellection"} intellection.com
				%small Ruby-level sponsor

				#intellection.detail
					%a{:href=>"http://www.intellection.io", :target=>"_blank", :title=>"Intellection"}
						= image_tag "logos/intellection.png", :class => "square"
					%p  Intellection are changing the way companies do market research. Our product, Insight Out, allows companies to create sophisticated analysis pipelines that turn raw data into insights, recommendations and interactive charts. Our product includes data science, data visualisation, micro-service web programming and a rich Javascript front end running on AWS.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.intellection.io", :target=>"_blank", :title=>"Intellection"} intellection.com
			%li.half
				%a{:href=>"#platform45", :class=>"info fancybox", rel: 'sponsors', :title=>"Platform45"}
					= image_tag "logos/platform45n.png", :style => 'padding-top:45px'
				.row
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com
				%small Ruby-level sponsor

				#platform45.detail
					%a{:href=>"http://platform45.com", :target=>"_blank", :title=>"Platform45"}
						= image_tag "logos/platform45n2.png", :class => 'square'
					%p At Platform45 we believe software is essential to the advancement of human potential. All businesses will, if they haven't already, become software businesses.
					%p
						We work with our clients to
						%strong create custom web and mobile software
						that allows them to automate, innovate and ultimately engineer a better business.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com

		%ul.sponsors-list
			%li.third
				%a{:href=>"#prodigyfinance", :class=>"info fancybox", rel: 'sponsors', :title=>"Prodigy Finance"}
					= image_tag "logos/prodigy-white.png"
				.row
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com
				%small Sapphire-level sponsor

				#prodigyfinance.detail
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"}
						= image_tag "logos/prodigy-logo.svg", :class => 'square'
					%p Prodigy Finance is a global community, connecting the world’s talent with the capital it needs to thrive. Our international network of investors fund graduate loans for students from over 112 countries through a borderless model that prizes potential over geography. We find and help fund talent all across the world, crossing the borders which traditional funding providers cannot.
					%p Currently Prodigy Finance has programmes at more than 60 of the worlds ranked business schools, including INSEAD, Wharton, Chicago Booth, Columbia Business School, London Business School, NUS, University of Oxford’s Saïd Business School, and Stanford to name a few. For further information visit prodigyfinance.com.
					%span.right Sapphire-level sponsor
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com
			%li.third
			%li.third
				%a{:href=>"#google", :class=>"info fancybox", rel: 'sponsors', :title=>"Google"}
					= image_tag "logos/google_bw.png"
				.row
					%a{:href=>"http://developers.google.com", :target=>"_blank", :title=>"Google"} developers.google.com
				%small Sapphire-level sponsor

				#google.detail
					%a{:href=>"http://developers.google.com"}
						= image_tag "logos/google_c.png", :class => 'square'
					%p Google’s innovative search technologies connect millions of people around the world with information every day. Founded in 1998 by Stanford Ph.D. students Larry Page and Sergey Brin, Google today is a top web property in all major global markets. Google's mission in Africa is to make the internet an integral part of everyday life in Africa, by increasing its relevance and usefulness, eliminating access barriers for potential users, and developing products that are meaningful for the countries in the region. Google is headquartered in Silicon Valley with offices throughout the Americas, Europe, Africa and Asia.
					%p
						For more information, visit
						%a{ :href => 'http://developers.google.com' } developers.google.com
						, and follow us on Google+ at
						%a{ :href => 'https://plus.google.com/+GoogleDevelopers' } plus.google.com/+GoogleDevelopers
					%span.right Sapphire-level sponsor
					%a{:href=>"http://developers.google.com", :target=>"_blank", :title=>"google Web Services"} developers.google.com
		%ul.sponsors-list
			%li.third
				%a{:href=>"#hetzner", :class=>"info fancybox", rel: 'sponsors', :title=>"Hetzner, Trusted in Hosting"}
					= image_tag "logos/hetzner.png"
				.row
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za
				%small Sapphire-level sponsor + Coffee Sponsorship

				#hetzner.detail
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"}
						= image_tag "logos/hetzner2.png", :class => 'square'
					%p At Hetzner South Africa we are passionate about web hosting – it’s our core business and it’s what we do best. By consistently delivering excellent service and cost effective web hosting, dedicated servers and custom hosting solutions, Hetzner has exponentially grown its market share, making it the leading web hosting company in South Africa. Inspired by our brand promise ‘Trusted in Hosting’, we focus on providing efficient, sustainable business models, quality service and customer satisfaction. A key contributor to our success is our people. We aim for our teams to manage themselves rather than rely on several layers of hierarchy. We want to give our people the freedom to explore, innovate and create. We recognise that our customers expect reliability and good value from us and it remains our ongoing commitment to earn and retain their trust.
					%span.right Sapphire-level sponsor + Coffee Sponsorship
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za
			%li.third
			%li.third
				%a{:href=>"#unboxedconsulting", :class=>"info fancybox", rel: 'sponsors', :title=>"Unboxed Consulting"}
					= image_tag "logos/unboxedconsulting.png", :style => 'width:60%'
				.row
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com
				%small Sapphire-level sponsor

				#unboxedconsulting.detail
					%a{:href=>"http://unboxedconsulting.com"}
						= image_tag "logos/unboxedconsulting2.png", :class => 'square'
					%p We’re Unboxed. We collaborate to grow ideas for digital products and services. Then we build them. We also improve the way organisations works. We do this through agile and lean techniques, using Ruby on Rails.
					%span.right Sapphire-level sponsor
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com

		%ul.sponsors-list
			%li.third
				%a{:href=>"#vulcanlabs", :class=>"info fancybox", rel: 'sponsors', :title=>"Vulcan Labs"}
					= image_tag "logos/vulcanlabs_d.png"
				.row
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com
				%small Topaz-level sponsor

				#vulcanlabs.detail
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"}
						= image_tag "logos/vulcanlabs2.png", :class =>'square'
					%p Vulcan Labs is a leading boutique provider of software development and consulting services with a specific focus on the Business Intelligence domain. We develop a range of highly customisable products that enable businesses to better collect, collate, analyse and report on critical business data.

					%span.right Topaz-level sponsor
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com

			%li.third
				%a{:href=>"#africantravelcanvas", :class=>"info fancybox", rel: 'sponsors', :title=>"African Travel Canvas"}
					= image_tag "logos/african_travel_canvas2.png"
				.row
					%a{:href=>"http://www.africantc.co.za", :target=>"_blank", :title=>"African Travel Canvas"} www.africantc.co.za
				%small Organizing partner

				#africantravelcanvas.detail
					%a{:href=>"http://www.africantc.co.za", :target=>"_blank", :title=>"African Travel Canvas"}
						= image_tag "logos/african_travel_canvas.png", :class => 'square'
					%p African Travel Canvas is a local tour operator with over thirteen years of experience in the luxury tourism market. From sightseeing tours, fully inclusive individual and group tours, self-drive tours, safaris and overland excursions, African Travel Canvas designs bespoke itineraries that cater to an array of travellers’ interests and aspirations. In seeking adventure, exploration, education or relaxation, experience the African continent with African Travel Canvas.

					%span.right Organizing partner
					%a{:href=>"http://www.africantc.co.za", :target=>"_blank", :title=>"African Travel Canvas"} www.africantc.co.za

			%li.third
				%a{:href=>"#zeroone", :class=>"info fancybox", rel: 'sponsors', :title=>"Zero One"}
					= image_tag "logos/zero_one_white.png", :style=>"width:180px;height:180px;"
				.row
					%a{:href=>"http://www.zero-one.io", :target=>"_blank", :title=>"Zero One"} zero-one.io
				%small Topaz-level sponsor

				#zeroone.detail
					%a{:href=>"http://www.zero-one.io", :target=>"_blank", :title=>"Zero One"}
						= image_tag "logos/zero_one.png"
					%p Zero One is a boutique bespoke software development company that focuses on the right mix of proven tools and cutting-edge software development techniques. We build ambitious applications for some of the most innovative companies in South Africa. Zero One ❤’s Ruby.

					%span.right Topaz-level sponsor
					%a{:href=>"http://www.zero-one.io", :target=>"_blank", :title=>"Zero One"} zero-one.io

		%ul.sponsors-list
			%li.third

			%li.third

		%h2.highlight
			Interested in sponsoring this event?
			Check out the
			%a{:href=>"/downloads/Rubyfuza%202016%20Sponsorship%20Prospectus.pdf"} prospectus
			and drop us an
			= link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'
			Last year's
			=link_to 'sponsors', '/2015.html#sponsors'
