<section class="section section--first" id="home">
  <div class="paper paper--150 paper--patterns in-view" data-elements="PAPER_06">
    <script>
      var PAPER_06 = [
        {
          type: 'raster',
          src: '<%= image_path('shape--11.png') %>',
          rotate: 0,
          mobile: {
            x: 100,
            y: -300,
            scale: 0.3
          },
          desktop: {
            x: 100,
            y: -400,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--14.png') %>',
          rotate: 0,
          mobile: {
            x: -100,
            y: -350,
            scale: 0.1
          },
          desktop: {
            x: -545,
            y: -455,
            scale: 0.15
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--14.png') %>',
          rotate: 0,
          mobile: {
            x: 300,
            y: -100,
            scale: 0.3
          },
          desktop: {
            x: 400,
            y: 50,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--13.png') %>',
          rotate: 0,
          mobile: {
            x: -105,
            y: -360,
            scale: 0.2
          },
          desktop: {
            x: -550,
            y: -460,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--08.png') %>',
          rotate: 0,
          mobile: {
            x: 255,
            y: -400,
            scale: 0.3
          },
          desktop: {
            x: 500,
            y: -500,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--13.png') %>',
          rotate: 0,
          mobile: {
            x: 95,
            y: -310,
            scale: 0.3
          },
          desktop: {
            x: 90,
            y: -410,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--08.png') %>',
          rotate: 0,
          mobile: {
            x: 295,
            y: -100,
            scale: 0.15
          },
          desktop: {
            x: 390,
            y: 30,
            scale: 0.2
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--gem.png') %>',
          rotate: 0,
          mobile: {
            x: -150,
            y: 100,
            scale: 0.1
          },
          desktop: {
            x: -450,
            y: 150,
            scale: 0.15
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--gem-shadow.png') %>',
          rotate: 0,
          mobile: {
            x: -145,
            y: 105,
            scale: 0.3
          },
          desktop: {
            x: -445,
            y: 155,
            scale: 0.16
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--11.png') %>',
          rotate: 0,
          mobile: {
            x: -220,
            y: -170,
            scale: 0.2
          },
          desktop: {
            x: -600,
            y: -155,
            scale: 0.25
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--14.png') %>',
          rotate: 0,
          mobile: {
            x: 120,
            y: 220,
            scale: 0.15
          },
          desktop: {
            x: 100,
            y: 250,
            scale: 0.2
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--12.png') %>',
          rotate: 0,
          mobile: {
            x: -220,
            y: -170,
            scale: 0.35
          },
          desktop: {
            x: -600,
            y: -155,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--gem-shadow.png') %>',
          rotate: 0,
          mobile: {
            x: -70,
            y: 250,
            scale: 0.2
          },
          desktop: {
            x: -300,
            y: 320,
            scale: 0.25
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--15.png') %>',
          rotate: 0,
          mobile: {
            x: 120,
            y: 220,
            scale: 0.35
          },
          desktop: {
            x: 100,
            y: 250,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--rb.png') %>',
          blendMode: 'multiply',
          rotate: 30,
          mobile: {
            x: -80,
            y: 140,
            scale: 0.3
          },
          desktop: {
            x: -80,
            y: 140,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 90,
          mobile: {
            x: -250,
            y: -350,
            scale: 0.3
          },
          desktop: {
            x: -250,
            y: -450,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--rb.png') %>',
          blendMode: 'multiply',
          rotate: 0,
          mobile: {
            x: -220,
            y: -170,
            scale: 0.4
          },
          desktop: {
            x: 420,
            y: -170,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--rb.png') %>',
          blendMode: 'multiply',
          rotate: 0,
          mobile: {
            x: -200,
            y: -50,
            scale: 0.4
          },
          desktop: {
            x: -380,
            y: 180,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--rb.png') %>',
          blendMode: 'multiply',
          rotate: 0,
          mobile: {
            x: -50,
            y: -290,
            scale: 0.3
          },
          desktop: {
            x: -520,
            y: -290,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 180,
          mobile: {
            x: 50,
            y: -200,
            scale: 0.4
          },
          desktop: {
            x: 300,
            y: -200,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 90,
          mobile: {
            x: 100,
            y: -100,
            scale: 0.1
          },
          desktop: {
            x: 500,
            y: -100,
            scale: 0.1
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 130,
          mobile: {
            x: -140,
            y: -330,
            scale: 0.2
          },
          desktop: {
            x: -120,
            y: -350,
            scale: 0.2
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: -40,
          mobile: {
            x: 180,
            y: -250,
            scale: 0.3
          },
          desktop: {
            x: 220,
            y: -450,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 45,
          mobile: {
            x: -200,
            y: 200,
            scale: 0.2
          },
          desktop: {
            x: -200,
            y: 200,
            scale: 0.2
          }
        },
        {
          type: 'raster',
          src: '<%= image_path('shape--06.png') %>',
          blendMode: 'multiply',
          rotate: 180,
          mobile: {
            x: 150,
            y: 50,
            scale: 0.1
          },
          desktop: {
            x: 150,
            y: 50,
            scale: 0.1
          }
        },
      ];
    </script>
    <canvas class="in-view__child in-view__child--fadein" data-paper-resize="true" data-paper-keepalive="true"></canvas>
  </div>
  <div class="container">
    <div class="row in-view">
      <div class="col-12 col-xl-10 offset-xl-1 text-center text-lg-left">
        <h5 class="in-view__child in-view__child--fadein">
          <span>Africa's premier Ruby Conference</span>
        </h5>
        <h1 class="display-one in-view__child in-view__child--fadein">
          <span>Ruby<span class="fu">Fu</span>za</span>
          <br>
          <span>& Friends</span>
        </h1>
      </div>
    </div>
  </div>
</section>