<section class="section" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <header class="page-header">
          <h1 class="page-title">Schedule</h1>
          <h5 class="page-subtitle"><span>Two days, single track.</br>
          with workshops on Saturday.</span></h5>
        </header>
        <div class="in-view">
          <div class="tabs in-view__child in-view__child--fadein" role="tablist">
            <div class="tabs__navs">
              <a class="tabs__nav tabs__nav--active" href="#schedule" data-tab="day-one" tabindex="0" role="tab" aria-selected="true">
                DAY ONE
                <span class="sub-head-2">
                  &mdash; 7 Feb
                </span>
              </a>
              <a class="tabs__nav" href="#schedule" data-tab="day-two" tabindex="-1" role="tab" aria-selected="false">
                DAY TWO
                <span class="sub-head-2">
                  &mdash; 8 Feb
                </span>
              </a>
            </div>
            <div class="tabs__content">
              <div class="tabs__item tabs__item--active" data-tab="day-one" tabindex="0" role="tab" aria-selected="true">
                <div class="row clipcard margin-top">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">10:30</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-01.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">Effective AI for Non-Experts</h6>
                      <p class="clipcard__desc">Despite joining Facebook as an experienced developer, I was nowhere near ready for what awaited me. Still learning, still flabbergasted and I got 30 mins to share as much as I can with you - from tools and processes to smart approaches.</p><span class="clipcard__subtitle"><span class="sub-head-2">By Stormtrooper</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">11:30</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-03.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">Open Source AI Models</h6>
                      <p class="clipcard__desc">After we get an introduction to WebGL basics and the render pipeline, we'll learn what Three.js brings to the table and do a live coding demonstration you can code along to in which we’ll build a 3D web app from the ground up with all elements.</p><span class="clipcard__subtitle"><span class="sub-head-2">By C-3PO</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">02:15</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-02.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">From Research to Production</h6>
                      <p class="clipcard__desc">Web development changed dramatically during the last years. With the enormous amount of JavaScript libraries and the new HTML5 standard, today it is much easier to create web apps. When building a web app, you will probably want to reuse some of the web components you built.</p><span class="clipcard__subtitle"><span class="sub-head-2">By Chewbacca</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">01:00</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body">
                      <div class="clipcard__icon"><i class="fa fa-lg fa-clock-o"></i></div>
                      <p class="clipcard__info"><span class="text-body-3">Restaurant &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title margin-bottom-0 color--primary">Lunch Break</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__item" data-tab="day-two" tabindex="-1" role="tab" aria-selected="false">
                <div class="row clipcard margin-top">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">08:30</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-03.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">Pushing the boundaries of AI</h6>
                      <p class="clipcard__desc">After we get an introduction to WebGL basics and the render pipeline, we'll learn what Three.js brings to the table and do a live coding demonstration you can code along to in which we’ll build a 3D web app from the ground up with all elements.</p><span class="clipcard__subtitle"><span class="sub-head-2">By C-3PO</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">11:20</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-02.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">How to accelerate your app with AI</h6>
                      <p class="clipcard__desc">Web development changed dramatically during the last years. With the enormous amount of JavaScript libraries and the new HTML5 standard, today it is much easier to create web apps. When building a web app, you will probably want to reuse some of the web components you built.</p><span class="clipcard__subtitle"><span class="sub-head-2">By Chewbacca</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">14:00</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body"><a class="clipcard__link" href="#"><span class="sr-only">See more</span></a><img class="clipcard__thumb lazyload--el lazyload in-view__child" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%= image_path('avatar-01.jpg') %>" alt="" width="36" height="36">
                      <p class="clipcard__info"><span class="text-body-3">Main Hall &mdash; 2 Hours</span></p>
                      <h6 class="clipcard__title">Getting Started with AI</h6>
                      <p class="clipcard__desc">Despite joining Facebook as an experienced developer, I was nowhere near ready for what awaited me. Still learning, still flabbergasted and I got 30 mins to share as much as I can with you - from tools and processes to smart approaches.</p><span class="clipcard__subtitle"><span class="sub-head-2">By Stormtrooper</span></span>
                    </div>
                  </div>
                </div>
                <div class="row clipcard">
                  <div class="col-12 col-md-2 col-lg-1">
                    <p class="clipcard__head">20:00</p>
                  </div>
                  <div class="col-12 col-md-10 col-lg-11">
                    <div class="clipcard__body">
                      <div class="clipcard__icon"><i class="fa fa-lg fa-birthday-cake"></i></div>
                      <p class="clipcard__info"><span class="text-body-3">Plaza &mdash; 8 Hours</span></p>
                      <h6 class="clipcard__title margin-bottom-0 color--secondary">Waterfront Party</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>