<section class="section" id="sponsors">
  <div class="container in-view">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <h3 class="in-view__child in-view__child--fadein">Prior
          <br>Sponsors.</h3>
      </div>
    </div>
    <div class="row padding-top margin-top">
      <div class="col-4 col-sm-2 offset-xl-1 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/offerzen.png', class: "lazyload--el lazyload", style: "height: 30px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/github.png', class: "lazyload--el lazyload", style: "height: 30px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/google.png', class: "lazyload--el lazyload", style: "height: 55px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/amazon.png', class: "lazyload--el lazyload", style: "height: 45px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/vulcanlabs.png', class: "lazyload--el lazyload", style: "height: 30px; width: 149px;" %>
          </figure>
        </div>
      </div>
    </div>

    <div class="row padding-top margin-top">
      <div class="col-4 col-sm-2 offset-xl-1 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/jumo.png', class: "lazyload--el lazyload", style: "height: 50px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/prodigy.png', class: "lazyload--el lazyload", style: "height: 40px; width: 145px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/zeroone.png', class: "lazyload--el lazyload", style: "height: 90px; width: 90px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/hetzner.png', class: "lazyload--el lazyload", style: "height: 40px; width: 149px;" %>
          </figure>
        </div>
      </div>
      <div class="col-4 col-sm-2 in-view__child in-view__child--fadein">
        <div class="company">
          <figure>
            <%= image_tag 'logos/platform45.png', class: "lazyload--el lazyload", style: "height: 25px; width: 149px;" %>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>