%section#sponsors
	.wrapper
		%h1.heading
			%a{:name=>"sponsors"}
			%span Sponsors

		%ul.sponsors-list
			%li.third
				%a{:href=>"#hetzner", :class=>"info fancybox", rel: 'sponsors', :title=>"Hetzner, Trusted in Hosting"}
					= image_tag "logos/hetzner.png"
				.row
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za
				%small Ruby-level sponsor

				#hetzner.detail
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"}
						= image_tag "logos/hetzner.png", :class => 'square'
					%p At Hetzner South Africa we are passionate about web hosting – it’s our core business and it’s what we do best. By consistently delivering excellent service and cost effective web hosting, dedicated servers and custom hosting solutions, Hetzner has exponentially grown its market share, making it the leading web hosting company in South Africa. Inspired by our brand promise ‘Trusted in Hosting’, we focus on providing efficient, sustainable business models, quality service and customer satisfaction. A key contributor to our success is our people. We aim for our teams to manage themselves rather than rely on several layers of hierarchy. We want to give our people the freedom to explore, innovate and create. We recognise that our customers expect reliability and good value from us and it remains our ongoing commitment to earn and retain their trust.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za

			%li.third
				%a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors', :title=>"Mad Mimi"}
					= image_tag "logos/madmimi.png"
				.row
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com
				%small Ruby-level sponsor

				#madmimi.detail
					%a{:href=>"https://www.madmimi.com"}
						= image_tag "logos/madmimi2.png", :class => 'square'
					%p Mad Mimi is a simple, intelligent and powerful email marketing utility that anyone can use. Mad Mimi makes email marketing easy for the creator, and easier on the eyes for the receiver. With ground-breaking technology, Mad Mimi is the simplest way to create branded, well-designed newsletters and promotions. Sign up free today and get started with simple, lovely email marketing.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com

			%li.third
				%a{:href=>"#platform45", :class=>"info fancybox", rel: 'sponsors', :title=>"Platform45"}
					= image_tag "logos/platform45.png"
				.row
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com
				%small Ruby-level sponsor

				#platform45.detail
					%a{:href=>"http://platform45.com", :target=>"_blank", :title=>"Platform45"}
						= image_tag "logos/platform452.png", :class => 'square'
					%p At Platform45 we believe software is essential to the advancement of human potential. All businesses will, if they haven't already, become software businesses.
					%p
						We work with our clients to
						%strong create custom web and mobile software
						that allows them to automate, innovate and ultimately engineer a better business.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com

		%ul.sponsors-list
			%li.sixth
			%li.third
				%a{:href=>"#amazon", :class=>"info fancybox", rel: 'sponsors', :title=>"Amazon Development Centre South Africa"}
					= image_tag "logos/adccpt.png"
				.row
					%a{:href=>"http://www.adccpt.com/?page_id=95", :target=>"_blank", :title=>"Amazon Development Centre South Africa"} www.adccpt.com
				%small Sapphire-level and Workshop sponsor

				#amazon.detail
					%a{:href=>"http://www.adccpt.com/?page_id=95"}
						= image_tag "logos/adccpt2.png", :class => 'square'
					%p In 2006, Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business. With the Cloud, businesses no longer need to plan for and procure servers and other IT infrastructure weeks or months in advance. Instead, they can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. Today, Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers hundreds of thousands of businesses in 190 countries around the world.
					%p
						We have
						%a{:href=>'http://www.adccpt.com/?page_id=19'} open roles available in Cape Town
						for:
					%ul.list
						%li Software Development Managers
						%li Senior Software Developers
						%li Cloud Support Engineers – Linux
					%p
						If you have a background in Computer Science and are passionate about cloud computing, send your CV to
						%a{:href => 'mailto:rubyfuza@amazon.com'} rubyfuza@amazon.com
					%p
					%span.right Sapphire-level and Workshop sponsor
					%a{:href=>"http://www.adccpt.com/?page_id=95", :target=>"_blank", :title=>"Amazon Web Services"} www.adccpt.com

			%li.third
				%a{:href=>"#google", :class=>"info fancybox", rel: 'sponsors', :title=>"Google"}
					= image_tag "logos/google.png"
				.row
					%a{:href=>"http://developers.google.com", :target=>"_blank", :title=>"Google"} developers.google.com
				%small Sapphire-level sponsor

				#google.detail
					%a{:href=>"http://developers.google.com"}
						= image_tag "logos/google2.png", :class => 'square'
					%p Google’s innovative search technologies connect millions of people around the world with information every day. Founded in 1998 by Stanford Ph.D. students Larry Page and Sergey Brin, Google today is a top web property in all major global markets. Google's mission in Africa is to make the internet an integral part of everyday life in Africa, by increasing its relevance and usefulness, eliminating access barriers for potential users, and developing products that are meaningful for the countries in the region. Google is headquartered in Silicon Valley with offices throughout the Americas, Europe, Africa and Asia.
					%p
						For more information, visit
						%a{ :href => 'http://developers.google.com' } developers.google.com
						, and follow us on Google+ at
						%a{ :href => 'https://plus.google.com/+GoogleDevelopers' } plus.google.com/+GoogleDevelopers
					%span.right Sapphire-level sponsor
					%a{:href=>"http://developers.google.com", :target=>"_blank", :title=>"google Web Services"} developers.google.com
			%li.sixth

		%ul.sponsors-list
			%li.sixth

			%li.third
				%a{:href=>"#github", :class=>"info fancybox", rel: 'sponsors', :title=>"Github"}
					= image_tag "logos/github_logo.png"
				.row
					%a{:href=>"https://www.github.com", :target=>"_blank", :title=>"Github"} github.com
				%small Drinkup sponsor

				#github.detail
					%a{:href=>"http://github.com"}
						= image_tag "logos/github_logo2.png", :class => 'square'
					%p GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing things together.
					%p With the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.
					%p Originally founded by Tom Preston-Werner, Chris Wanstrath, and PJ Hyett to simplify sharing code, GitHub has grown into the largest code host in the world.
					%span.right Drinkup sponsor
					%a{:href=>"http://www.github.com", :target=>"_blank", :title=>"Github"} github.com

			%li.third
				%a{:href=>"#unboxedconsulting", :class=>"info fancybox", rel: 'sponsors', :title=>"Unboxed Consulting"}
					= image_tag "logos/unboxedconsulting.png", :style => 'width:60%'
				.row
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com
				%small Emerald-level sponsor

				#unboxedconsulting.detail
					%a{:href=>"http://unboxedconsulting.com"}
						= image_tag "logos/unboxedconsulting2.png", :class => 'square'
					%p Unboxed Consulting build innovative and robust applications. We have a solid and well-honed development process that we are very proud of. Our first love is Ruby on Rails but we like to play the field as well. Based in Cape Town and London we work with large ambitious clients and also inspiring startups in both South Africa and the UK.
					%span.right Emerald-level sponsor
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com

			%li.sixth

		%ul.sponsors-list
			%li.eighth

			%li.fourth
				%a{:href=>"#vulcanlabs", :class=>"info fancybox", rel: 'sponsors', :title=>"Vulcan Labs"}
					= image_tag "logos/vulcanlabs.png"
				.row
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com
				%small Topaz-level sponsor

				#vulcanlabs.detail
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"}
						= image_tag "logos/vulcanlabs2.png", :class => 'square'
					%p At Vulcan Labs we go above and beyond to ensure our clients get the best solution for their unique challenge. Getting it right through clear communication channels, regular consultations and keeping our clients up to date.
					%span.right Topaz-level sponsor
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com

			%li.fourth
				%a{:href=>"#polyglot", :class=>"info fancybox", rel: 'sponsors', :title=>"Polyglot Programming Inc"}
					= image_tag "logos/polyglot.png"
				.row
					%a{:href=>"http://www.polyglotprogramminginc.com", :target=>"_blank", :title=>"Polyglot Programming Inc"} polyglotprogramminginc.com
				%small Topaz-level sponsor

				#polyglot.detail
					%a{:href=>"http://www.polyglotprogramminginc.com", :target=>"_blank", :title=>"Polyglot Programming Inc"}
						= image_tag "logos/polyglot2.png", :class => 'square'
					%p
						Polyglot Programming is an Atlanta based software company with strong
						South African ties. Managing partners Lance and Marlene, an
						ex-Pretorian, lead a team of developers who are passionate about Ruby
						on Rails and other best in breed technologies. We work with startups
						and companies to develop prototypes, launch ideas, scale existing web
						applications and supplement internal development teams. Our Agile
						development process focuses on testing and ensures that we deliver
						feature-rich applications quickly and within budget. When they're not
						writing code, you'll find the team "purr programming" with resident
						company cat Allie or sampling wine and cheering for the Springboks.
					%span.right Topaz-level sponsor
					%a{:href=>"http://www.polyglotprogramminginc.com", :target=>"_blank", :title=>"Polyglot Programming Inc"} polyglotprogramminginc.com

			%li.fourth
				%a{:href=>"#africanstay", :class=>"info fancybox", rel: 'sponsors', :title=>"African Stay"}
					= image_tag "logos/africanstay.png"
				.row
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za
				%small Conference organization

				#africanstay.detail
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"}
						= image_tag "logos/africanstay2.png", :class => 'square'
					%p African Stay is a reputable and reliable reservations company that arranges your accommodation in luxurious safari lodges, camps and exclusive hotels throughout Southern Africa.The accommodation we represent all offer unique facilities. Most especially, you will enjoy rare splendour and superb hospitality to make your visit unforgettable.
					%span.right Conference organization sponsor
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za



		%h2.highlight
			Interested in sponsoring this event?
			Check out the
			%a{:href=>"/downloads/Rubyfuza%202014%20Sponsorship%20Prospectus.pdf"} prospectus
			and drop us an
			= "#{link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'}. Last year's #{link_to 'sponsors', '/2013#sponsors'}."


