%section#links
  .wrapper
    %h1.heading
      %a{:name=>"links"}
      %span Links
    %ul.links
      %li.third
        %p
          = image_tag "community.png", :class => 'left'
          %span
            = link_to "Rubyfuza Community Website", "http://community.rubyfuza.org/"
      %li.third
        %p
          = image_tag "meetup.png", :class => 'left'
          %span
            = link_to "Meetup Workshops Group", "http://www.meetup.com/rubyfuza/"
      %li.third
        %p
          = image_tag "video.png", :class => 'left'
          %span
            = link_to "Past Videos on Youtube", "https://www.youtube.com/Rubyfuza"
