.menu-wrap
  %nav.menu
    %ul.clearfix
      %li.js_nav_link= link_to "About", "#header"
      %li.js_nav_link= link_to "Speakers", "#speakers"
      -# %li.js_nav_link= link_to "Schedule", "#schedule"
      / %li.js_nav_link= link_to "Workshops", "#workshops"
      %li.js_nav_link= link_to "Venue", "#venue"
      -# %li.js_nav_link= link_to "Sponsors", "#sponsors"
      -# %li.js_nav_link= link_to "Links", "#links"
      %li.js_nav_link= link_to "Previous Years", "#previous_years"
      %li#register= link_to "Register", "https://www.quicket.co.za/events/35089-rubyfuza-2018"
      %a{:href=>"https://www.quicket.co.za/events/35089-rubyfuza-2018", :class=>"register-now"}
        %span Register now!
