.menu-wrap
  %nav.menu
    %ul.clearfix
      %li.js_nav_link= link_to "About", "#about"
      %li.js_nav_link= link_to "Speakers", "#speakers"
      %li.js_nav_link= link_to "Schedule", "#schedule"
      %li.js_nav_link= link_to "Venue", "#venue"
      %li.js_nav_link= link_to "Sponsors", "#sponsors"
      %li.js_nav_link= link_to "Blog", "#blog"
      %a{:href=>"/index.html", :alt=>"Rubyfuza Home", class: 'register-now'}
        %span Back to 2018
    / %span.register-now EARLY BIRD REGISTRATION FROM 1 SEPTEMBER
