.menu-wrap
  %nav.menu
    %ul.clearfix
      %li.js_nav_link= link_to "About", "#about"
      %li.js_nav_link= link_to "Speakers", "#speakers"
      %li.js_nav_link= link_to "Schedule", "#schedule"
      %li.js_nav_link= link_to "Venue", "#venue"
      %li.js_nav_link= link_to "Sponsors", "#sponsors"
      %li.js_nav_link= link_to "Blog", "#blog"
      %li
        %a{:href => "#"}
          Previously
          %span.arrow ▼
        %ul.sub-menu
          %li= link_to "2013", "/2013.html"
          %li= link_to "2014", "/2014.html"
          %li= link_to "2015", "/2015.html"
      %li#register= link_to "Register", "https://www.quicket.co.za/events/12937-rubyfuza-2016/#/"
      = link_to 'index.html', :class => 'register-now' do
        %span Back to 2016 
    / %span.register-now EARLY BIRD REGISTRATION FROM 1 SEPTEMBER