%section#schedule
  .wrapper
    %h1.heading
      %span Schedule

    .timeline
      .half
        %h2
          Day One
          %span Thursday, 1 February 2018
        %ul
          %li
            %time 8:30
            %p Registration

          %li
            %time 9:30
            %p.speaker
              = image_tag "speakers/you.png"
              Rubyfuza Organizers
              %a{:href=>"https://twitter.com/rubyfuza"} @rubyfuza
              %span Welcome

          %li
            %time 9:40
            %p.speaker
              = image_tag "speakers/2018/nate_berkopec.jpg"
              Nate Berkopec
              %a{:href=>"https://twitter.com/nateberkopec"} @nateberkopec
              %span Orbital Rocket Guidance with Ruby

          %li
            %time 10:30
            %p.speaker
              = image_tag "speakers/2018/simon_and_arrie.png"
              Simon and Arrie
              -# %a{:href=>"https://twitter.com/tbd"} @tbd
              %span Fantastic chatbots and where to find them

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = image_tag "speakers/2018/megan_oneill.png"
              Megan O'Neill
              %a{:href=>"https://github.com/Oneill38"} Oneill38
              %span Make it SPECtacular

          %li
            %time 12:00
            %p.speaker
              = image_tag "speakers/2018/ben_janecke.png"
              Ben Janecke
              %a{:href=>"https://twitter.com/BenJanecke"} @BenJanecke
              %span Sticky Ruby

          %li
            %time 12:30
            %p.speaker
              = image_tag "speakers/2018/sihui_huang.png"
              Sihui Huang
              %a{:href=>"https://twitter.com/sihui_io"} @sihui_io
              %span Ouch! That Code Hurts My Brain

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p.speaker
              = image_tag "speakers/2018/jacques_visser.png"
              Jacques Visser
              %a{:href=>"https://twitter.com/jcqvisser"} @jcqvisser
              %span Building Ruby in Ruby

          %li
            %time 14:30
            %p.speaker
              = image_tag "speakers/2018/cobus_bernard.png"
              Cobus Bernard
              %a{:href=>"https://twitter.com/cobusbernard"} @cobusbernard
              %span Dockerizing Ruby apps and moving off Engine Yard

          %li
            %time 15:00
            %p Break

          %li
            %time 15:30
            %p.speaker
              = image_tag "speakers/2018/aka_brou_yannick.png"
              Yannick-Noel AKA
              %a{:href=>"https://twitter.com/akabyannick"} @akabyannick
              %span Build a great UX with Progressive Web Apps on Rails

          %li
            %time 16:00
            %p.speaker
              = image_tag "speakers/2018/miles_woodroffe.png"
              Miles Woodroffe
              %a{:href=>"https://twitter.com/tapster"} @tapster
              %span Fun with an Amazon Echo, Ruby and Recipes

          %li
            %time 16:30
            %p.speaker
              = image_tag "speakers/2018/ridhwana_khan.jpg"
              Ridhwana Khan
              %a{:href=>"https://twitter.com/Ridhwana_K"} @Ridhwana_K
              %span Lessons learnt in pursuit of growth

          %li
            %time 17:00
            %p Cocktails and Networking

      .half
        %h2
          Day Two
          %span Friday, 2 February 2018
        %ul
          %li
            %time 9:00
            %p Arrival

          %li
            %time 9:30
            %p.speaker
              = image_tag "speakers/you.png"
              RubyFuza Organizers
              %a{:href=>"https://twitter.com/rubyfuza"} @rubyfuza
              %span Welcome

          %li
            %time 9:40
            %p.speaker
              = image_tag "images/speakers/2017/eliza_de_jager.png"
              Eliza de Jager
              %a{:href=>"https://twitter.com/code_kitten"} @code_kitten
              %span Around the Ruby Block

          %li
            %time 10:30
            %p.speaker
              = image_tag "speakers/2018/caio_almeida.png"
              Caio Almeida
              %a{:href=>"https://twitter.com/caiosba"} @caiosba
              %span Using GraphQL and Relay for hybrid Ruby on Rails applications

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = image_tag "images/speakers/2018/tamar_rucham.jpg"
              Tamar Rucham
              %a{:href=>"https://twitter.com/tamarucham"} @tamarucham
              %span Growing data in a Ruby world


          %li
            %time 12:00
            %p.speaker
              = image_tag "speakers/2018/konstantin_tennhard.png"
              Konstantin Tennhard
              %a{:href=>"https://twitter.com/t6d"} @t6d
              %span Simulating and Testing Third Party Service Integrations

          %li
            %time 12:30
            %p.speaker
              = image_tag "speakers/2018/helio_cola.png"
              Helio Cola
              %a{:href=>"https://twitter.com/hacrods"} @hacrods
              %span DIY projects with Ruby & Pi

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p Lightning Talks


          %li
            %time 14:30
            %p.speaker
              = image_tag "speakers/2018/john_crepezzi.png"
              John Crepezzi
              %a{:href=>"https://twitter.com/seejohnrun"} @seejohnrun
              %span On Memory

          %li
            %time 15:00
            %p Break

          %li
            %time 15:30
            %p.speaker
              = image_tag "speakers/2018/rob_fall.png"
              Rob Fall
              %a{:href=>"https://twitter.com/robertfall"} @robertfall
              %span Tomorrow's UI Architecture — Structuring UI applications Around Features & Why You Might Want To

          %li
            %time 16:00
            %p.speaker
              = image_tag "speakers/2018/richard_ellingson.png"
              Richard Ellingson
              %a{:href=>"https://github.com/ellingsonr"} ellingsonr
              %span Fast Code Without Breaking Things

          %li
            %time 16:30
            %p.speaker
              = image_tag "speakers/2018/gys_muller.png"
              Gys Muller
              %a{:href=>"https://twitter.com/gysmuller"} @gysmuller
              %span Mongo: An unexpected journey

          %li
            %time 17:00
            %p Closing up the event

    / .full
    /   %h2
    /     Download the
    /     %a{:href=>"/downloads/Rubyfuza%202014%20Program%20Guide.pdf"} Program Guide
    /     (pdf, 3.7MB)
