%section#speakers
  .wrapper
    %h1.heading
      %a{name: "speakers"}
      %span Speakers
    %ul
      -# %li.speaker
      -#   .rounded
      -#     %a{href: '#speaker100', rel: 'speaker_image', class: 'fancybox', id: 'you'}
      -#       = image_tag "speakers/you.png"
      -#     %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
      -#     %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
      -#   %h2
      -#     %a{href: '#speaker100', rel: 'speakers', class: 'fancybox'} You?
      -#   %p Your talk's description

      -#   #speaker100.detail
      -#     .links.right
      -#       %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
      -#       %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
      -#     .name
      -#       = image_tag "speakers/you.png"
      -#       %h2 Your name right here.
      -#     .inner
      -#       %a{:href=>"http://cfp.rubyfuza.org/events/rubyfuza-2018-cfp", :class=>"button button-3d button-primary button-rounded"} Submit your talk today!
      -#       %br
      -#       %br
      -#       %p Rubyfuza is the only African conference for Ruby developers. The event comprises of two days of single-track presentations and an additional workshop day. The organizers of Rubyfuza 2018 is encouraging the submission of proposals for 30-minute presentations OR workshops related to Ruby development. Sessions may be geared toward non-expert audiences or focus on topics relevant to experienced developers. The deadline to submit proposals is December 31, 2017.

      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox', id: 'nate'}
            = image_tag "speakers/2018/nate_berkopec.jpg"
          %a{:href=>"https://twitter.com/nateberkopec/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/nateberkopec/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Nate Berkopec
        %p Orbital Rocket Guidance with Ruby

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/nateberkopec/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/nateberkopec/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/nate_berkopec.jpg"
            %h2 Nate Berkopec
          .inner
            %p
              Nate is a freelancer and consultant that focuses on Ruby web application performance. Author of The Complete Guide to Rails Performance and blogger at
              %a(href="https://speedshop.co")
                https://www.speedshop.co/.
              speedshop.co. He appeared on Shark Tank, ABC’s primetime entrepreneurship show, when he was nineteen years old. Nate recently moved to Taos, New Mexico after eight years in New York City.
            %h3 Orbital Rocket Guidance with Ruby
            %p Let’s make Ruby go fast - 18,000 MPH fast! Using the popular space simulator Kerbal Space Program and some remote procedure calls, we’re going to use Ruby to launch (simulated) rockets into space. Using the algorithms and techniques developed for the Apollo Guidance Computer, we’ll write a program that can manage several tasks concurrently but also survive hard restarts and unplanned errors. Finally, we’ll launch a Saturn V rocket, controlled by a Ruby program that emulates space computers of the past.

      %li.speaker
        .rounded
          %a{href: '#speaker2', rel: 'speaker_image', class: 'fancybox', id: 'ridhwana'}
            = image_tag "speakers/2018/ridhwana_khan.jpg"
          %a{:href=>"https://twitter.com/Ridhwana_K", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/Ridhwana", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker2', rel: 'speakers', class: 'fancybox'} Ridhwana Khan
        %p Lessons learnt in pursuit of growth

        #speaker2.detail
          .links.right
            %a{:href=>"https://twitter.com/Ridhwana_K", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/Ridhwana", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/ridhwana_khan.jpg"
            %h2 Ridhwana Khan
          .inner
            %p I am an extremely passionate software developer. I am also a co-founder of a software development company called Zero One, a co-organizer of a Ladies that UX meetup group and a co-founder of an NPO called Kasi-Maths focussed in the education sector.
            %p I love being able to constantly learn new and exciting things that I can put into practice.
            %h3 Lessons learnt in pursuit of growth
            %p Growth has always been a vital part in ensuring that I lead a meaningful career.
            %p Recently, I’ve been given the opportunity to be a part of a Techwomen program in Silicon Valley, and it has expanded my mind to lessons that have helped me to progress in my career.
            %p I’d love to share my learnings around the value of mentorship, diversity in leadership, the art of storytelling and the gratification of social impact.

      %li.speaker
        .rounded
          %a{href: '#speaker3', rel: 'speaker_image', class: 'fancybox', id: 'yannick'}
            = image_tag "speakers/2018/aka_brou_yannick.png"
          %a{:href=>"https://twitter.com/akabyannick", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/codecaiine", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker3', rel: 'speakers', class: 'fancybox'} Yannick-Noel AKA
        %p Build a great UX with Progressive Web Apps on Rails

        #speaker3.detail
          .links.right
            %a{:href=>"https://twitter.com/akabyannick", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/codecaiine", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/aka_brou_yannick.png"
            %h2 Yannick-Noel AKA
          .inner
            %p My Name is Yannick Aka, 4 years as developer experience and entrepreneur in training at Meltwater Entrepreneurial School of Technology (MEST) at Accra, Ghana where i'm building Tech company.
            %p I'm Mozillian from 3 Years and Mozilla Tech Speaker, also organizer, speaker at Google Developers Group SSA community.
            %h3 Build a great UX with Progressive Web Apps on Rails
            %p Progressive Web App technology is new and rapidly growing.
            %p The Rails community hasn't had a clear path to integrating PWA technology, until now.
            %p In this talk, I'll demonstrate how to turn your Rails app into a Progressive Web App and build a great design UX design.

      %li.speaker
        .rounded
          %a{href: '#speaker4', rel: 'speaker_image', class: 'fancybox', id: 'ben'}
            = image_tag "speakers/2018/ben_janecke.png"
          %a{:href=>"https://twitter.com/BenJanecke", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/BenJanecke", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker4', rel: 'speakers', class: 'fancybox'} Ben Janecke
        %p Sticky Ruby

        #speaker4.detail
          .links.right
            %a{:href=>"https://twitter.com/BenJanecke", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/BenJanecke", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/ben_janecke.png"
            %h2 Ben Janecke
          .inner
            %p Ben is just a developer and likes keeping things simple.
            %h3 Sticky Ruby
            %p A look at how we glue things together in Ruby, all the way from friction welding with classes to duct taping with blocks, procs and lambdas.

      %li.speaker
        .rounded
          %a{href: '#speaker5', rel: 'speaker_image', class: 'fancybox', id: 'elizer'}
            = image_tag "images/speakers/2017/eliza_de_jager.png"
          %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker5', rel: 'speakers', class: 'fancybox'} Eliza de Jager
        %p Around the Ruby Block

        #speaker5.detail
          .links.right
            %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/eliza_de_jager.png"
            %h2 Eliza de Jager
          .inner
            %p I started my career as a Clarion developer, and then moved into the asset management space where I was exposed to various technologies. During this time I was introduced to Ruby and I never looked back! For the last year I've been employing these Ruby, Rails and other web-development skills working in the market research industry.
            %h3 Around the Ruby Block
            %p Ever noticed how flexible the use of blocks can make Ruby code?
            %p They allow us to reuse code easily, and to dynamically define not only method names but also method bodies, thereby essentially making metaprogramming possible.
            %p In this talk we properly define blocks as closures.
            %p We discuss scope gates and how blocks manage to get around them, and how lambdas take this even further by allowing us to use variables defined in a different scope from where the lambda is executed inside the lambda body.
            %p We also take a look at what goes on in the Ruby stack and heap which makes all of this possible.

      %li.speaker
        .rounded
          %a{href: '#speaker6', rel: 'speaker_image', class: 'fancybox', id: 'jacques'}
            = image_tag "speakers/2018/jacques_visser.png"
          %a{:href=>"https://twitter.com/jcqvisser", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/jcqvisser", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker6', rel: 'speakers', class: 'fancybox'} Jacques Visser
        %p Building Ruby in Ruby

        #speaker6.detail
          .links.right
            %a{:href=>"https://twitter.com/jcqvisser", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/jcqvisser", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/jacques_visser.png"
            %h2 Jacques Visser
          .inner
            %p Studied Electrical Engineering at Wits. Currently working on Docfox: a fintech startup. Prefers Vim over most things.
            %h3 Building Ruby in Ruby
            %p With some weird stunts we can rebuild core bits of Ruby in Ruby itself.
            %p In this talk we will harness the power of defining things by what they do, not what they are.
            %p You’ll walk away with two things: some code that should never ever make it’s way into production and a few neat ideas that have been around since the 1930’s.

      %li.speaker
        .rounded
          %a{href: '#speaker7', rel: 'speaker_image', class: 'fancybox', id: 'tamar'}
            = image_tag "images/speakers/2018/tamar_rucham.jpg"
          %a{:href=>"https://twitter.com/tamarucham", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/tamarr", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker7', rel: 'speakers', class: 'fancybox'} Tamar Rucham
        %p Growing data in a Ruby world

        #speaker7.detail
          .links.right
            %a{:href=>"https://twitter.com/tamarucham", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/tamarr", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2018/tamar_rucham.jpg"
            %h2 Tamar Rucham
          .inner
            %p "This is 10% luck, 20% skill
            %p 15% concentrated power of will
            %p 5% pleasure, 50% pain
            %p And 100% reason to remember the name"
            %p Also 10 years as a software developer. 4 companies. 2 continents and too many languages.
            %h3 Growing data in a Ruby world
            %p When your Rails app starts to really grow you need to start thinking of creative solutions for your data storage needs.
            %p In this talk I'll describe the solution we came up with in GEM (GoDaddy's Email Marketing) for storing our customer's customers information - well over a billion records - in a scalable searchable way.

      %li.speaker
        .rounded
          %a{href: '#speaker8', rel: 'speaker_image', class: 'fancybox', id: 'cobus'}
            = image_tag "speakers/2018/cobus_bernard.png"
          %a{:href=>"https://twitter.com/cobusbernard", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/cobusbernard", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker8', rel: 'speakers', class: 'fancybox'} Cobus Bernard
        %p Dockerizing Ruby apps and moving off Engine Yard

        #speaker8.detail
          .links.right
            %a{:href=>"https://twitter.com/cobusbernard", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/cobusbernard", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/cobus_bernard.png"
            %h2 Cobus Bernard
          .inner
            %p Cobus used to call himself a developer, then he decided that a decade of dealing with having code flung over the wall at the ops people was enough.
            %p He now focuses on infrastructure and deployment automation, and helping teams adopt modern DevOps practices at Prodigy Finance.
            %p As an advocate of DevOps principles, he’s building a community around DevOps in Cape Town, having founded and helped organise both the Cape Town DevOps meetup group in 2015, and DevOpsDays Cape Town in 2016.
            %h3 Dockerizing Ruby apps and moving off Engine Yard
            %p As part of the ongoing effort of splitting up the monolith, Prodigy Finance decided in mid 2017 to start migrating off Engine Yard due to the escalating costs of running microservices on single hosts.
            %p As part of this migration, we wanted to future proof ourselves by moving everything into Docker to prepare for using an orchestration framework (Kubernetes / Nomad).
            %p In this talk, I will cover the technical issues faced during this process: changing apps to use environment variables for all configs, musl vs glibc, libressl vs openssl and securely building Gems inside a container.

      %li.speaker
        .rounded
          %a{href: '#speaker9', rel: 'speaker_image', class: 'fancybox', id: 'robert'}
            = image_tag "speakers/2018/rob_fall.png"
          %a{:href=>"https://twitter.com/robertfall", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/robertfall", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker9', rel: 'speakers', class: 'fancybox'} Rob Fall
        %p Tomorrow's UI Architecture — Structuring UI applications Around Features & Why You Might Want To

        #speaker9.detail
          .links.right
            %a{:href=>"https://twitter.com/robertfall", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/robertfall", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/rob_fall.png"
            %h2 Rob Fall
          .inner
            %p Robert is a consultant focused on what makes software teams great — most recently web application teams at companies like Allan Gray and GoDaddy.
            %p He lives at the intersection between people and software design and has dreams about improving Developer Experience.
            %h3 Tomorrow's UI Architecture — Structuring UI applications Around Features & Why You Might Want To
            %p Web pages are yesterday's news — UI platforms are converging and the page abstraction doesn't cut it anymore.
            %p PWAs are further blurring the lines between web and native, and virutal and augmented reality are on the horizon.
            %p Team dynamics are evolving and the learnings taken from micro-services are making their way to the front end. This talk explores using "scenes" to structure UI applications and how the benefits gained throughout a product's life.

      %li.speaker
        .rounded
          %a{href: '#speaker10', rel: 'speaker_image', class: 'fancybox', id: 'simon_and_arrie'}
            = image_tag "speakers/2018/simon_and_arrie.png"
        %h2
          %a{href: '#speaker10', rel: 'speakers', class: 'fancybox'} Simon and Arrie
        %p Fantastic chatbots and where to find them

        #speaker10.detail
          .name
            = image_tag "speakers/2018/simon_and_arrie.png"
            %h2 Simon and Arrie
          .inner
            %p Simon:
            %p Simon is a technical product lead at Platform45, with interest in software from design & development to machine learning.
            %p
              On his journey, Simon loves sharing his learnings, and has given a couple talks in South Africa and the USA. Catch him on Github @sighmin, or at
              %a{:href=>"http://simonvandyk.co.za", :target=>"_blank", :title=>"simonvandyk"} simonvandyk.co.za
            %p Arrie:
            %p Arrie is a developer at Platform45 passionate about the intersection of design and innovative technologies ranging from chatbots and voice interfaces to machine learning and DAPPs.
            %p
              Catch him on Github (@klipie245), or at
              %a{:href=>"http://500px.com/klipie245", :target=>"_blank", :title=>"arrie"} 500px.com/klipie245
            %h3 Fantastic chatbots and where to find them
            %p We dream romantically about being able to converse with their machines. These voice and text based interfaces are making their way into our products and it turns out, are actually simple to build.
            %p We will give you a ridiculously short, principled understanding of natural language processing, while building a chatbot that can handle registering a user for your site and responding to small talk.
            %p As a bonus let’s control our root.co.za account with our voice, for reals. Let’s explore this together as we share our foray into text based interfaces & how we can apply them right now.

      %li.speaker
        .rounded
          %a{href: '#speaker11', rel: 'speaker_image', class: 'fancybox', id: 'caio'}
            = image_tag "speakers/2018/caio_almeida.png"
          %a{:href=>"https://twitter.com/caiosba", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/caiosba", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker11', rel: 'speakers', class: 'fancybox'} Caio Almeida
        %p Using GraphQL and Relay for hybrid Ruby on Rails applications

        #speaker11.detail
          .links.right
            %a{:href=>"https://twitter.com/caiosba", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/caiosba", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/caio_almeida.png"
            %h2 Caio Almeida
          .inner
            %p Caio holds bachelor and master degrees on computer science from Federal University of Bahia, Brazil.
            %p He's software developer for more than 10 years and works professionally with Ruby On Rails since 2008.
            %p Since 2011, he's a senior software engineer at Meedan, a software company based in San Francisco, California, USA.
            %p He created and maintains some NPM modules, Ruby gems and other open source softwares and talks about those things at conferences like RubyConf Brazil, RubyConf Portugal, and others.
            %h3 Using GraphQL and Relay for hybrid Ruby on Rails applications
            %p In this talk, the author will show how to add a GraphQL layer to an existing Ruby On Rails application, that is able to expose part of the data model through this interface.
            %p Wow to build a client side application based on React.js, React Native and Relay that consumes this information and that works in different platforms (iOS, Android, Google Chrome, web) but that shares the same source code among them.

      %li.speaker
        .rounded
          %a{href: '#speaker12', rel: 'speaker_image', class: 'fancybox', id: 'megan'}
            = image_tag "speakers/2018/megan_oneill.png"
          %a{:href=>"https://github.com/Oneill38", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker12', rel: 'speakers', class: 'fancybox'} Megan O'Neill
        %p Make it SPECtacular

        #speaker12.detail
          .links.right
            %a{:href=>"https://github.com/Oneill38", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/megan_oneill.png"
            %h2 Megan O'Neill
          .inner
            %p Born on the East Coast of the USA, I now spend my time writing code from the beaches of California.
            %p I work for the leading Construction Technology company in the world and we love Ruby! Lets talk code and craft beers
            %h3 Make it SPECtacular
            %p "Testing takes too long", "It's a nightmare to setup a spec", "There aren't any other tests".
            %p How many times have we all heard these phrases and more as reasons why testing is awful.
            %p Let's look at four easy ways to fix this today, and make writing tests, spectacular!

      %li.speaker
        .rounded
          %a{href: '#speaker14', rel: 'speaker_image', class: 'fancybox', id: 'Sihui'}
            = image_tag "speakers/2018/sihui_huang.png"
          %a{:href=>"https://twitter.com/sihui_io", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/Sihui", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker14', rel: 'speakers', class: 'fancybox'} Sihui Huang
        %p Ouch! That Code Hurts My Brain

        #speaker14.detail
          .links.right
            %a{:href=>"https://twitter.com/sihui_io", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/Sihui", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/sihui_huang.png"
            %h2 Sihui Huang
          .inner
            %p
              Sihui spends most of her time writing, reading, and blogging about software.
              She enjoys learning and talking about
              %a{:href=>"http://www.sihui.io/design-patterns/", :target=>"_blank", :title=>"arrie"} software design
              %a{:href=>"http://www.sihui.io/code-smell-cheat-sheet/", :target=>"_blank", :title=>"arrie"} refactoring,
              and
              %a{:href=>"http://www.sihui.io/procs-in-ruby-p1/", :target=>"_blank", :title=>"arrie"} Ruby,
              She works at
              %a{:href=>"https://gusto.com/", :target=>"_blank", :title=>"arrie"} Gusto
              and blogs at
              %a{:href=>"https://www.sihui.io/", :target=>"_blank", :title=>"arrie"} sihui.io
            %p Her favorite answers to all questions are: “It depends”, “I don’t know”, and “Does it matter?”
            %h3 Ouch! That Code Hurts My Brain
            %p After a day of work, you are exhausted and have a big headache. You get home and feel so tired that you don’t want to say a single word. You close your eyes and feel the pain inside of your head.
            %p The code you read at work exhausts you and hurts your brain, But it doesn’t have to. Come to this talk and I will show you simple techniques for spotting brain-hurting code and making it understandable to five-year-olds.
            %p We will look at some Ruby code together and make it a delight to the eyes.
            %p When dealing with brain-friendly code, you will become more productive at work and happier in life.

      %li.speaker
        .rounded
          %a{href: '#speaker15', rel: 'speaker_image', class: 'fancybox', id: 'miles'}
            = image_tag "speakers/2018/miles_woodroffe.png"
          %a{:href=>"https://twitter.com/tapster", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/tapster", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker15', rel: 'speakers', class: 'fancybox'} Miles Woodroffe
        %p Fun with an Amazon Echo, Ruby and Recipes

        #speaker15.detail
          .links.right
            %a{:href=>"https://twitter.com/tapster", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/tapster", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/miles_woodroffe.png"
            %h2 Miles Woodroffe
          .inner
            %p Rails hacker. 10 years in startups in SF as coder and/or CTO, now CTO at Cookpad Ltd in Bristol UK.
            %p Experience bootstrapping, lean startup, coding, scaling to tens of millions, hiring, being acquired...
            %p Prior music career in rock-n-roll, toured the world - insanely lucky to work with artists from Bob Dylan to Ray Charles to The Specials to Joe Strummer.
            %h3 Fun with an Amazon Echo, Ruby and Recipes
            %p Voice interfaces open up so many interesting possibilities and in this talk I'll show you how to very quickly build and deploy a useful "skill" with Ruby, and at the same time, make sure you hopefully don't burn the dinner.

      %li.speaker
        .rounded
          %a{href: '#speaker16', rel: 'speaker_image', class: 'fancybox', id: 'miles'}
            = image_tag "speakers/2018/helio_cola.png"
          %a{:href=>"https://twitter.com/hacrods", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/heliocola", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker16', rel: 'speakers', class: 'fancybox'} Helio Cola
        %p DIY projects with Ruby & Pi

        #speaker16.detail
          .links.right
            %a{:href=>"https://twitter.com/hacrods", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/heliocola", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/helio_cola.png"
            %h2 Helio Cola
          .inner
            %p Helio is a passionate software engineer, who has built a lot of software and has created things in more than a dozen languages, over the past 16 years.
            %p In 2015 Helio turned a side project into a company focused on helping small NPOs to increase awareness and community engagement.
            %p In the recent years has been tinkering with RaspberryPi, Parallella, and #IOT (side-)projects.
            %h3 DIY projects with Ruby & Pi
            %p Ruby and RaspberryPi are available to us for quite sometime and this talk is meant to discuss how to use Ruby to explore things on a RaspberryPi.
            %p From a practical point of view, we will go through installation, setup, and build a simple Motion Sensor application and a Time-Lapse Camera using RaspberryPi.

      %li.speaker
        .rounded
          %a{href: '#speaker17', rel: 'speaker_image', class: 'fancybox', id: 'konstantin'}
            = image_tag "speakers/2018/konstantin_tennhard.png"
          %a{:href=>"https://twitter.com/t6d", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/t6d", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker17', rel: 'speakers', class: 'fancybox'} Konstantin Tennhard
        %p Simulating and Testing Third Party Service Integrations

        #speaker17.detail
          .links.right
            %a{:href=>"https://twitter.com/t6d", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/t6d", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/konstantin_tennhard.png"
            %h2 Konstantin Tennhard
          .inner
            %p Hi, I'm Konstantin, a computer scientist who specializes in developing large scale internet applications.
            %p A while ago, I moved from Germany to Canada to work at Shopify and couldn't be happier. Software design is what I live and breathe.
            %p I use it as a tool to empower other developers to move faster and with more confidence. My scientific interest on the other hand are natural language processing and statistical learning methods.
            %h3 Simulating and Testing Third Party Service Integrations
            %p Nowadays, we often rely on third party services that we integrate into our product, instead of building every aspect of an application.
            %p Testing these integrations is hard. So far, the standard approach has been replaying requests with VCR or stubbing them with Webmock.
            %p This talk is about simulating third party dependencies in your test suite and even in your development environment with Sinatra or any other Rack-based web framework.

      %li.speaker
        .rounded
          %a{href: '#speaker18', rel: 'speaker_image', class: 'fancybox', id: 'richard'}
            = image_tag "speakers/2018/richard_ellingson.png"
          %a{:href=>"https://github.com/ellingsonr", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker18', rel: 'speakers', class: 'fancybox'} Richard Ellingson
        %p Fast Code Without Breaking Things

        #speaker18.detail
          .links.right
            %a{:href=>"https://github.com/ellingsonr", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/richard_ellingson.png"
            %h2 Richard Ellingson
          .inner
            %p I am a South African software engineer, based in Cape Town.
            %p I have been working at ZappiStore for the last three years, writing, tweaking and optimising the data science tools that we use for our automated market research store.
            %p When I'm not behind a keyboard, he's fixing up and riding old motorcycles.
            %h3 Fast Code Without Breaking Things
            %p The road to performance problems is paved with good intentions. Performance problems are probably the only time you may need to understand how all abstractions we rely on work; from Ruby to CPU.
            %p Myself and my coworkers spent 4 months making our internal Ruby data-science platform 100 times faster. This is our story...

      %li.speaker
        .rounded
          %a{href: '#speaker20', rel: 'speaker_image', class: 'fancybox', id: 'gys'}
            = image_tag "speakers/2018/gys_muller.png"
          %a{:href=>"https://twitter.com/gysmuller", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/gysmuller", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker20', rel: 'speakers', class: 'fancybox'} Gys Muller
        %p Mongo: An unexpected journey

        #speaker20.detail
          .links.right
            %a{:href=>"https://twitter.com/gysmuller", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/gysmuller", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/gys_muller.png"
            %h2 Gys Muller
          .inner
            %p I started my career as a mechatronics engineer responsible for designing high-speed dynamic weighing applications in the transport and food industries.
            %p I’ve been working in software development for the past 7 years and have worked on a range of products, including computer vision, fintech, health and fitness.
            %p I’m currently responsible for running the product team at OfferZen.
            %h3 Mongo: An unexpected journey
            %p An account of our epic journey over the past two years and the challenges we encountered as a result of choosing Mongo as our database.
            %p The reasons for this choice will be discussed, as well as the mistakes made, and the techniques utilized to address the challenges while scaling our product.
    %div.clearfix
    = partial('partials/global/signup')