%section#speakers
  .wrapper
    %h1.heading
      %a{name: "speakers"}
      %span Speakers
    %ul
      %li.speaker
        .rounded
          %a{href: '#speaker100', rel: 'speaker_image', class: 'fancybox', id: 'you'}
            = image_tag "speakers/you.png"
          %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker100', rel: 'speakers', class: 'fancybox'} You?
        %p Your talk's description

        #speaker100.detail
          .links.right
            %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/you.png"
            %h2 Your name right here.
          .inner
            %a{:href=>"http://cfp.rubyfuza.org/events/rubyfuza-2018-cfp", :class=>"button button-3d button-primary button-rounded"} Submit your talk today!
            %br
            %br
            %p Rubyfuza is the only African conference for Ruby developers. The event comprises of two days of single-track presentations and an additional workshop day. The organizers of Rubyfuza 2018 is encouraging the submission of proposals for 30-minute presentations OR workshops related to Ruby development. Sessions may be geared toward non-expert audiences or focus on topics relevant to experienced developers. The deadline to submit proposals is December 31, 2017.

      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox', id: 'nate_berkopec'}
            = image_tag "speakers/2018/nate_berkopec.jpg"
          %a{:href=>"https://twitter.com/nateberkopec/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/nateberkopec/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Nate Berkopec
        %p Orbital Rocket Guidance with Ruby

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/nateberkopec/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/nateberkopec/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/nate_berkopec.jpg"
            %h2 Nate Berkopec
          .inner
            %p
              Nate is a freelancer and consultant that focuses on Ruby web application performance. Author of The Complete Guide to Rails Performance and blogger at
              %a(href="https://speedshop.co")
                https://www.speedshop.co/.
              speedshop.co. He appeared on Shark Tank, ABC’s primetime entrepreneurship show, when he was nineteen years old. Nate recently moved to Taos, New Mexico after eight years in New York City.
            %h3 Orbital Rocket Guidance with Ruby
            %p Let’s make Ruby go fast - 18,000 MPH fast! Using the popular space simulator Kerbal Space Program and some remote procedure calls, we’re going to use Ruby to launch (simulated) rockets into space. Using the algorithms and techniques developed for the Apollo Guidance Computer, we’ll write a program that can manage several tasks concurrently but also survive hard restarts and unplanned errors. Finally, we’ll launch a Saturn V rocket, controlled by a Ruby program that emulates space computers of the past.

      %li.speaker
        .rounded
          %a{href: '#speaker2', rel: 'speaker_image', class: 'fancybox', id: 'ridhwana'}
            = image_tag "speakers/2018/ridhwana_khan.jpg"
          %a{:href=>"https://twitter.com/Ridhwana_K", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/Ridhwana", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker2', rel: 'speakers', class: 'fancybox'} Ridhwana Khan
        %p Lessons learnt in pursuit of growth

        #speaker2.detail
          .links.right
            %a{:href=>"https://twitter.com/Ridhwana_K", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/Ridhwana", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2018/ridhwana_khan.jpg"
            %h2 Ridhwana Khan
          .inner
            %p I am an extremely passionate software developer. I am also a co-founder of a software development company called Zero One, a co-organizer of a Ladies that UX meetup group and a co-founder of an NPO called Kasi-Maths focussed in the education sector. 
            %p I love being able to constantly learn new and exciting things that I can put into practice.
            %h3 Lessons learnt in pursuit of growth
            %p Growth has always been a vital part in ensuring that I lead a meaningful career.
            %p Recently, I’ve been given the opportunity to be a part of a Techwomen program in Silicon Valley, and it has expanded my mind to lessons that have helped me to progress in my career. 
            %p I’d love to share my learnings around the value of mentorship, diversity in leadership, the art of storytelling and the gratification of social impact.

      %li.speaker
        .rounded
          %a{href: '#speaker3', rel: 'speaker_image', class: 'fancybox', id: 'elizer_de_jarger'}
            = image_tag "images/speakers/2017/eliza_de_jager.png"
          %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker3', rel: 'speakers', class: 'fancybox'} Eliza de Jager
        %p Around the Ruby Block

        #speaker3.detail
          .links.right
            %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/eliza_de_jager.png"
            %h2 Eliza de Jager
          .inner
            %p I started my career as a Clarion developer, and then moved into the asset management space where I was exposed to various technologies. During this time I was introduced to Ruby and I never looked back! For the last year I've been employing these Ruby, Rails and other web-development skills working in the market research industry.
            %h3 Around the Ruby Block
            %p Ever noticed how flexible the use of blocks can make Ruby code?
            %p They allow us to reuse code easily, and to dynamically define not only method names but also method bodies, thereby essentially making metaprogramming possible.
            %p In this talk we properly define blocks as closures.
            %p We discuss scope gates and how blocks manage to get around them, and how lambdas take this even further by allowing us to use variables defined in a different scope from where the lambda is executed inside the lambda body. 
            %p We also take a look at what goes on in the Ruby stack and heap which makes all of this possible.

      %li.speaker
        .rounded
          %a{href: '#speaker4', rel: 'speaker_image', class: 'fancybox', id: 'elizer_de_jarger'}
            = image_tag "images/speakers/2018/tamar_rucham.jpg"
          %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker4', rel: 'speakers', class: 'fancybox'} Tamar Rucham
        %p Growing data in a Ruby world

        #speaker4.detail
          .links.right
            %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2018/tamar_rucham.jpg"
            %h2 Tamar Rucham
          .inner
            %p "This is 10% luck, 20% skill
            %p 15% concentrated power of will
            %p 5% pleasure, 50% pain
            %p And 100% reason to remember the name"
            %p Also 10 years as a software developer. 4 companies. 2 continents and too many languages.
            %h3 Growing data in a Ruby world
            %p When your Rails app starts to really grow you need to start thinking of creative solutions for your data storage needs. 
            %p In this talk I'll describe the solution we came up with in GEM (GoDaddy's Email Marketing) for storing our customer's customers information - well over a billion records - in a scalable searchable way.

    %div.clearfix
    = partial('partials/global/signup')