%section#sponsors
	.wrapper
		%h1.heading
			%a{:name=>"sponsors"}
			%span Sponsors

		%ul.sponsors-list
			%li.half
				%a{:href=>"#hetzner", :class=>"info fancybox", rel: 'sponsors', :title=>"Hetzner, Trusted in Hosting"}
					= image_tag "/logos/hetzner.png"
				.row
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za
				%small Ruby-level sponsor

				#hetzner.detail
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"}
						= image_tag "/logos/hetzner2.png", :class => 'square'
					%p At Hetzner South Africa we are passionate about web hosting – it’s our core business and it’s what we do best. By consistently delivering excellent service and cost effective web hosting, dedicated servers and custom hosting solutions, Hetzner has exponentially grown its market share, making it the leading web hosting company in South Africa. Inspired by our brand promise ‘Trusted in Hosting’, we focus on providing efficient, sustainable business models, quality service and customer satisfaction. A key contributor to our success is our people. We aim for our teams to manage themselves rather than rely on several layers of hierarchy. We want to give our people the freedom to explore, innovate and create. We recognise that our customers expect reliability and good value from us and it remains our ongoing commitment to earn and retain their trust.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za

			%li.half
				%a{:href=>"#platform45", :class=>"info fancybox", rel: 'sponsors', :title=>"Platform45"}
					= image_tag "/logos/platform45.png"
				.row
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com
				%small Ruby-level sponsor

				#platform45.detail
					%a{:href=>"http://platform45.com", :target=>"_blank", :title=>"Platform45"}
						= image_tag "/logos/platform45n2.png", :class => 'square'
					%p At Platform45 we believe software is essential to the advancement of human potential. All businesses will, if they haven't already, become software businesses.
					%p
						We work with our clients to
						%strong create custom web and mobile software
						that allows them to automate, innovate and ultimately engineer a better business.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com

		%ul.sponsors-list
			%li.half
				%a{:href=>"#prodigyfinance", :class=>"info fancybox", rel: 'sponsors', :title=>"Prodigy Finance"}
					= image_tag "/logos/prodigy-white.png"
				.row
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com
				%small Ruby-level sponsor

				#prodigyfinance.detail
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"}
						= image_tag "/logos/prodigy-logo.svg", :class => 'square'
					%p Prodigy Finance was started by three INSEAD MBA graduates who experienced firsthand the difficulties of financing an international MBA. In 2007, they set out to solve this problem.
					%p Our innovative model offers loans to international postgraduate students at leading business schools. Through our community platform, alumni and other investors earn competitive returns, while students gain access to higher education they otherwise could not afford.
					%p We have loan programmes with top business schools across the world, including London Business School (UK), Columbia Business School (US), INSEAD (France), Oxford’s Saïd Business School (UK), and our very own UCT Graduate School of Business.
					%span.right Ruby-level sponsor
					%a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com

			%li.half
				%a{:href=>"#internet_solutions", :class=>"info fancybox", rel: 'sponsors', :title=>"Internet Solutions"}
					= image_tag "/logos/is.png", :style=>"width:278px;height:120px;"
				.row
					%a{:href=>"http://www.is.co.za", :target=>"_blank", :title=>"Internet Solutions"} is.co.za
				%small Ruby-level sponsor

				#internet_solutions.detail
					%a{:href=>"http://www.is.co.za", :target=>"_blank", :title=>"Internet Solutions"}
						= image_tag "/logos/is2.png", :class => 'square'
					%p Internet Solutions is a wholly owned subsidiary of Dimension Data. The company is southern Africa's most established and experienced Internet service provider. Since 1993 Internet Solutions has been providing innovative end-to-end connectivity solutions and related services across the African continent. Today IS is a provider of Internet Protocol-based connectivity, communications, and cloud and carrier services in the African market and for African clients into the global market. IS provides services to large public and private sector organisations, medium sized organisations, and through its value channel programme to smaller organisations and consumers.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.is.co.za", :target=>"_blank", :title=>"Internet Solutions"} is.co.za


		%ul.sponsors-list
			%li.fourth
			%li.fourth
				%a{:href=>"#unboxedconsulting", :class=>"info fancybox", rel: 'sponsors', :title=>"Unboxed Consulting"}
					= image_tag "/logos/unboxedconsulting.png", :style => 'width:60%'
				.row
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com
				%small Sapphire-level sponsor

				#unboxedconsulting.detail
					%a{:href=>"http://unboxedconsulting.com"}
						= image_tag "/logos/unboxedconsulting2.png", :class => 'square'
					%p Unboxed Consulting build innovative and robust applications. We have a solid and well-honed development process that we are very proud of. Our first love is Ruby on Rails but we like to play the field as well. Based in Cape Town and London we work with large ambitious clients and also inspiring startups in both South Africa and the UK.
					%span.right Sapphire-level sponsor
					%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com

			%li.fourth
				%a{:href=>"#github", :class=>"info fancybox", rel: 'sponsors', :title=>"Github"}
					= image_tag "/logos/github_logo.png"
				.row
					%a{:href=>"https://www.github.com", :target=>"_blank", :title=>"Github"} github.com
				%small Sapphire + speaker sponsorship

				#github.detail
					%a{:href=>"http://github.com"}
						= image_tag "/logos/github_logo2.png", :class=> 'square'
					%p GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing things together.
					%p With the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.
					%p Originally founded by Tom Preston-Werner, Chris Wanstrath, and PJ Hyett to simplify sharing code, GitHub has grown into the largest code host in the world.
					%span.right Sapphire + speaker sponsorship
					%a{:href=>"http://www.github.com", :target=>"_blank", :title=>"Github"} github.com

		%ul.sponsors-list
			%li.fourth
			%li.sixth
				%a{:href=>"#vulcanlabs", :class=>"info fancybox", rel: 'sponsors', :title=>"Vulcan Labs"}
					= image_tag "/logos/vulcanlabs_d.png"
				.row
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com
				%small Topaz-level sponsor

				#vulcanlabs.detail
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"}
						= image_tag "/logos/vulcanlabs2.png"
					%p Vulcan Labs is a leading boutique provider of software development and consulting services with a specific focus on the Business Intelligence domain. We develop a range of highly customisable products that enable businesses to better collect, collate, analyse and report on critical business data.

					%span.right Topaz-level sponsor
					%a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com

			%li.sixth
				%a{:href=>"#simplepay", :class=>"info fancybox", rel: 'sponsors', :title=>"SimplePay"}
					= image_tag "/logos/simplepay.png"
				.row
					%a{:href=>"http://www.simplepay.co.za", :target=>"_blank", :title=>"SimplePay"} simplepay.co.za
				%small Topaz-level sponsor

				#simplepay.detail
					%a{:href=>"http://www.simplepay.co.za", :target=>"_blank", :title=>"SimplePay"}
						= image_tag "/logos/simplepay2.png", :class => 'square'
					%p You don't have time to struggle with complicated payroll software. We get that. And you want to be sure you are up to date with all the changing requirements from SARS. That's why we designed our online payroll system to take as much as possible off your hands.
					%ul.list
						%li Designed from the ground up to deal with South African payroll legislation.
						%li Takes the hassle out of payroll administration. Statutory deductions and contributions are calculated automatically (Tax, UIF, SDL). SimplePay will ask you the right questions to ensure that payroll deductions are done in the correct manner.
						%li Assumes no knowledge of payroll legislation, nor experience with other payroll software / systems.
						%li The system will tell you when your submissions are due and remind you to prevent late submissions. You'll always be 100% compliant. Submissions are done electronically wherever possible.

					%span.right Topaz-level sponsor
					%a{:href=>"http://www.simplepay.co.za", :target=>"_blank", :title=>"SimplePay"} simplepay.co.za

			%li.sixth
				%a{:href=>"#africanstay", :class=>"info fancybox", rel: 'sponsors', :title=>"African Stay"}
					= image_tag "/logos/african_stay.png", :style => 'max-height: 56px; height: 56px; max-width: 105px; width: 105px'
				.row
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za
				%small Conference organization

				#africanstay.detail
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"}
						= image_tag "/logos/african_stay2.png", :class => 'square'
					%p African Stay is a reputable and reliable reservations company that arranges your accommodation in luxurious safari lodges, camps and exclusive hotels throughout Southern Africa.The accommodation we represent all offer unique facilities. Most especially, you will enjoy rare splendour and superb hospitality to make your visit unforgettable.
					%span.right Conference organization sponsor
					%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za


		%h2.highlight
			Interested in sponsoring this event?
			Check out the
			%a{:href=>"/downloads/Rubyfuza%202015%20Sponsorship%20Prospectus.pdf"} prospectus
			and drop us an
			= "#{link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'}. Last year's #{link_to 'sponsors', '/2014#sponsors'}."


