%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers
    %ul
      -# %li.speaker
      -#   .rounded
      -#     %a{href: '#speaker100', rel: 'speaker_image', class: 'fancybox', id: 'you'}
      -#       = image_tag "speakers/you.png"
      -#     %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
      -#     %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
      -#   %h2
      -#     %a{href: '#speaker100', rel: 'speakers', class: 'fancybox'} You?
      -#   %p Your talk's description
      -#
      -#   #speaker100.detail
      -#     .links.right
      -#       %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
      -#       %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
      -#     .name
      -#       = image_tag "speakers/you.png"
      -#       %h2 Your name right here.
      -#     .inner
      -#       %a{:href=>"http://cfp.rubyfuza.org", :class=>"button button-3d button-primary button-rounded"} Submit your talk today!
      -#       %br
      -#       %br
      -#       %p Rubyfuza is the only African conference for Ruby developers. The event comprises of two days of single-track presentations and an additional workshop day. The organizers of Rubyfuza 2016 is encouraging the submission of proposals for 30-minute presentations OR workshops related to Ruby development. Sessions may be geared toward non-expert audiences or focus on topics relevant to experienced developers. The deadline to submit proposals is December 31, 2016.

      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox', id: 'coraline_ada'}
            = image_tag "speakers/2017/coraline_ada.jpg"
          %a{:href=>"https://twitter.com/CoralineAda/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/CoralineAda/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Coraline Ada Ehmke
        -# %p Factory, Workshop, Stage

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/CoralineAda/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/CoralineAda/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2017/coraline_ada.jpg"
            %h2 Coraline Ada Ehmke
          .inner
            %p Coraline has been programming professionally in Ruby since 2007. She is the author of 25 Ruby gems and has contributed to major projects including Rspec and Rails. She is a frequent speaker at conferences around the world, including RailsConf. Coraline was a 2016 recipient of the Ruby Hero award.

            %p Coraline created OS4W.org, a resource for connecting all women, including women of colour and transgender women, to open source projects. She is also the creator of the Contributor Covenant, a code of conduct used in over 14,000 open source projects. She is on the board of directors for Ruby

      %li.speaker
        .rounded
          %a{href: '#speaker2', rel: 'speaker_image', class: 'fancybox', id: 'elizer_de_jarger'}
            = image_tag "images/speakers/2017/eliza_de_jager.png"
          %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker2', rel: 'speakers', class: 'fancybox'} Eliza de Jager
        %p What the Duck?

        #speaker2.detail
          .links.right
            %a{:href=>"https://twitter.com/code_kitten", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/epdejager", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/eliza_de_jager.png"
            %h2 Eliza de Jager
          .inner
            %p I started my career as a Clarion developer, and then moved into the asset management space where I was exposed to various technologies. During this time I was introduced to Ruby and I never looked back! For the last year I've been employing these Ruby, Rails and other web-development skills working in the market research industry.
            %h3 What the Duck?
            %p In this talk I explore ways in which to make optimal use of duck typing and type conversion in everyday Ruby programs. I will explore what duck-typing really means, and when it is appropriate to use this as opposed to respond_to?, type checking or type conversion in Ruby programs. I will investigate the difference between implicit and explicit type conversion, and will also take a look at the difference between these conversion protocols and capitalized conversion functions.

      %li.speaker
        .rounded
          %a{href: '#speaker3', rel: 'speaker_image', class: 'fancybox', id: 'daniel_schierbeck'}
            = image_tag "images/speakers/2017/daniel_schierbeck.jpg"
          %a{:href=>"https://twitter.com/dasch", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/dasch", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker3', rel: 'speakers', class: 'fancybox'} Daniel Schierbeck
        %p Using Apache Kafka from Ruby

        #speaker3.detail
          .links.right
            %a{:href=>"https://twitter.com/dasch", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/dasch", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/daniel_schierbeck.jpg"
            %h2 Daniel Schierbeck
          .inner
            %p Daniel Schierbeck has been programming in Ruby since 2005 after completing level 99 in PHP and figuring out there was no prize to win after all.
            %p He studied Computer Science at the University of Copenhagen, where he primarily spent his time trying to avoid writing C++. He got into Concurrent Sequential Processes before it became cool, and wrote a Ruby implementation called Minx for his bachelor thesis. As with all academic code, it is used by no one at all.
            %p He works as a Principal Engineer at Zendesk, a San Francisco based Customer Support Software SaaS company.
            %h3 Using Apache Kafka from Ruby
            %p Apache Kafka is “publish-subscribe messaging rethought as a distributed commit log” – a way for applications to produce messages that can be read by many different consumers. Kafka is rapidly gaining wide adoption, partly because of its impressive scalability but also because of what it enables: looser coupling between message producers and consumers & efficient storage of messages, allowing consumers to “go back in time”.
            %p Until recently, there hasn’t been a battle-tested Ruby client for Kafka, though. We decided to build one, enabling advanced Kafka applications in pure Ruby.

      %li.speaker
        .rounded
          %a{href: '#speaker4', rel: 'speaker_image', class: 'fancybox', id: 'rishal_hurbans'}
            = image_tag "images/speakers/2016/rishal_hurbans.png"
          %a{:href=>"https://twitter.com/RishalHurbans", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/rishal-hurbans", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker4', rel: 'speakers', class: 'fancybox'} Rishal Hurbans
        %p AI in Perspective

        #speaker4.detail
          .links.right
            %a{:href=>"https://twitter.com/RishalHurbans", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/rishal-hurbans", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2016/rishal_hurbans.png"
            %h2 Rishal Hurbans
          .inner
            %p Rishal is currently fulfilling the role of a Team/Technical Lead at Entelect. He is a senior software engineer designing and building solutions for various national and international blue chip clients. He has a passion for web architecture, mobile development, and design thinking methodologies. Rishal founded Prolific Idea in 2015 where innovation is cultivated through research and technology. www.prolificidea.com
            %h3 AI in Perspective
            %p An insight into the current state of artificial intelligence and machine learning. We will be delving into modern approaches to AI, current uses, and an overview on how to get started from a conceptual and practical perspective.

      %li.speaker
        .rounded
          %a{href: '#speaker5', rel: 'speaker_image', class: 'fancybox', id: 'brad_kingon'}
            = image_tag "images/speakers/2017/brad_kingon.png"
          %a{:href=>"https://twitter.com/brad_kingon", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/bkingon", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker5', rel: 'speakers', class: 'fancybox'} Brad Kingon
        %p Hacking with Ruby

        #speaker5.detail
          .links.right
            %a{:href=>"https://twitter.com/brad_kingon", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/bkingon", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/brad_kingon.png"
            %h2 Brad Kingon
          .inner
            %p I work as a Ruby Developer at MWR InfoSecurity, based out of the Rivonia office, but working closely with offices around the world. Harbouring a keen interest in the cyber security space, I am interested in looking to understand how computers work at their core and I thoroughly enjoy performance optimising code.
            %h3 Hacking with Ruby
            %p There are many excellent tools out there for “hacking” and penetration testing, some of which are written in Ruby. Looking at two of these tools, Metasploit and Meterpreter, I will explore the area of buffer overflow exploits, to allow the attacker to gain access to the target system through a reverse_tcp payload. The target system in this case should be a Rails server.


      %li.speaker
        .rounded
          %a{href: '#speaker6', rel: 'speaker_image', class: 'fancybox', id: 'andre_helberg'}
            = image_tag "images/speakers/2017/andre_helberg.png"
          %a{:href=>"https://twitter.com/A_Helberg", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/A-Helberg", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker6', rel: 'speakers', class: 'fancybox'} André-Marthin Helberg
        %p Level up in Ruby while keeping all your hearts

        #speaker6.detail
          .links.right
            %a{:href=>"https://twitter.com/A_Helberg", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/A-Helberg", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/andre_helberg.png"
            %h2 André-Marthin Helberg
          .inner
            %p I have been a professional software developer for almost 7 years, and playing with development for double that! I am currently focussed on developing a BI tool in my professional life and playing in functional programming when time permits.
            %h3 Level up in Ruby while keeping all your hearts
            %p How to progress and self learn in software development while still keeping your sanity and health.

      %li.speaker
        .rounded
          %a{href: '#speaker7', rel: 'speaker_image', class: 'fancybox', id: 'aslam_khan'}
            = image_tag "images/speakers/2017/aslam_khan.jpg"
          %a{:href=>"https://twitter.com/aslamkhn", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/aslamkhn", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker7', rel: 'speakers', class: 'fancybox'} Aslam Khan
        %p From grammar to byte-code in 20 minutes

        #speaker7.detail
          .links.right
            %a{:href=>"https://twitter.com/aslamkhn", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/aslamkhn", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/aslam_khan.jpg"
            %h2 Aslam Khan
          .inner
            %p Aslam has been building software for long enough to make peace with the fact that design is ridiculously difficult and a whole lot of fun. After 20 odd years, he still finds a way to work at the extremes - close to the metal with lines of code and close to the brain with strategy. Mostly, though, he is just a another software developer from Africa - by birth and by choice. He occasionally blogs at http://aslamkhan.net.
            %h3 From grammar to byte-code in 20 minutes
            %p This is an insane attempt to share the steps and toolchain to build your own external DSL using ruby. The question has to be "Why?" We know how to build internal DSL's in ruby. However, external DSL's give freedom to design a grammar that is free of idiomatic ruby. That opens up a universe of possibilities. Our history of learning compiler theory is mostly painful, but the tools that exist make this viable. This is a tough talk. Like many tough things, it's laced with equal parts of stupidity.

      %li.speaker
        .rounded
          %a{href: '#speaker8', rel: 'speaker_image', class: 'fancybox', id: 'kir_shatrov'}
            = image_tag "images/speakers/2017/kir_shatrov.png"
          %a{:href=>"https://twitter.com/kirshatrov", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/kirs", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker8', rel: 'speakers', class: 'fancybox'} Kir Shatrov
        %p Monorails: deal with it

        #speaker8.detail
          .links.right
            %a{:href=>"https://twitter.com/kirshatrov", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/kirs", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/kir_shatrov.png"
            %h2 Kir Shatrov
          .inner
            %p Kir Shatrov is a Developer Infrastructure Engineer at Shopify where he works on the core Rails platform and infrastructure. When not into working, Kir enjoys learning new technologies, speaking at conferences and biking.
            %h3 Monorails: deal with it
            %p Today Shopify is the oldest Rails application, which codebase starts in 2005 and remembers Rails 0.9. The code contains 200 models and 400 controllers. Every day hundreds of developers are working on this app in the single repository.
            %p How do you scale Rails not in the number of requests, but from the perspective of developer experience? How to automate code reviews and prevent developers from shooting themselves in the foot? We've built a lot of internal tooling around developer environment which I'd like to share in my talk.

      %li.speaker
        .rounded
          %a{href: '#speaker9', rel: 'speaker_image', class: 'fancybox', id: 'matias_korhonen'}
            = image_tag "images/speakers/2017/matias_korhonen.png"
          %a{:href=>"https://twitter.com/matiaskorhonen", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/matiaskorhonen", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker9', rel: 'speakers', class: 'fancybox'} Matias Korhonen
        %p Rails Security: above and beyond the defaults

        #speaker9.detail
          .links.right
            %a{:href=>"https://twitter.com/matiaskorhonen", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/matiaskorhonen", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/matias_korhonen.png"
            %h2 Matias Korhonen
          .inner
            %p Matias Korhonen has been writing Rails apps professionally at Kisko Labs, a small software consultancy in Finland, for almost a decade. In his spare time he works on too many side projects (including [Piranhas.co](https://www.piranhas.co/), a book price comparison site, and [TLS.care](https://tls.care/), an SSL certificate monitoring service). He also somehow manages to find time to homebrew beer.
            %h3 Rails Security: above and beyond the defaults
            %p Rails provides pretty decent security options straight out of the box, but can we go further and, if so, how? In this talk I'll outline what security options are available, why we'd want them, and how to go about implementing them.
            %p I'll touch on Content Security Policies, HTTP Public Key Pinning, and other HTTP/browser security options. I'll also do a quick overview of proper SSL or TLS configuration.
            %p What threats we're trying to protect against and who do we imagine that our adversaries are? How do we keep our users safe against a variety of attack vectors?

      %li.speaker
        .rounded
          %a{href: '#speaker11', rel: 'speaker_image', class: 'fancybox', id: 'de_wet_blomerus'}
            = image_tag "images/speakers/2017/de_wet_blomerus.png"
          %a{:href=>"https://twitter.com/dewetblomerus", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/dewetblomerus", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker11', rel: 'speakers', class: 'fancybox'} De Wet Blomerus
        %p What I learned from applying for 107 jobs

        #speaker11.detail
          .links.right
            %a{:href=>"https://twitter.com/dewetblomerus", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/dewetblomerus", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/de_wet_blomerus.png"
            %h2 De Wet Blomerus
          .inner
            %p Service Engineer at GitLab
            %h3 What I learned from applying for 107 jobs
            %p Learn from my mistakes, advice I received from friends, and great outcome at the end.

      %li.speaker
        .rounded
          %a{href: '#speaker12', rel: 'speaker_image', class: 'fancybox', id: 'daniel_smith'}
            = image_tag "images/speakers/2016/daniel_smith.png"
          %a{:href=>"https://twitter.com/jellym4nn", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/jellymann", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker12', rel: 'speakers', class: 'fancybox'} Daniel Smith
        %p ActionGame with Rails 5

        #speaker12.detail
          .links.right
            %a{:href=>"https://twitter.com/jellym4nn", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/jellymann", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2016/daniel_smith.png"
            %h2 Daniel Smith
          .inner
            %p Daniel Smith is a Ruby and Node.js developer at Platform45. He loves doing things new or out-of-the-ordinary. His favourite pastimes are graphics programming and monkey-patching the NilClass. He has spoken about Game Development and other topics at Jozi.rb and Pretoria.rb. His programming experience started when he wrote tic-tac-toe for DOS in Turbo Pascal. Since then he has had a keen interest in game development and graphics programming.
            %h3 ActionGame with Rails 5
            %p ActionCable was recently added to Rails 5's ever-increasing list of built-in awesomeness. This opens doors for developers to do even more incredible things in the Web of today. One of these things is the ability to create a real-time online multiplayer game inside a regular old Rails app.

      %li.speaker
        .rounded
          %a{href: '#speaker13', rel: 'speaker_image', class: 'fancybox', id: 'ruberto_paulo'}
            = image_tag "images/speakers/2017/ruberto_paulo.png"
          %a{:href=>"https://twitter.com/legend_rob", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/ruberto", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker13', rel: 'speakers', class: 'fancybox'} Ruberto Paulo
        %p Date night with Ruby

        #speaker13.detail
          .links.right
            %a{:href=>"https://twitter.com/legend_rob", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/ruberto", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/ruberto_paulo.png"
            %h2 Ruberto Paulo
          .inner
            %p Rob started programming in high school where he swore he would never do it again. Five years later he decided to give it another go this time with Ruby, He has never looked back. He is currently at Prodigy Finance, working with an amazing team doing great things. If programmers were superheroes, Rob would be Batman. He may not have any real "superpowers", but he does have several gems on his belt and a few years experience cleaning up Gotham; one bug at a time.
            %h3 Date night with Ruby
            %p We all have that one language that we just love coding in. When presented with a small project it's the tool we would prefer using, that fun language. For me that language is Ruby.
            %p I asked myself a question: Why does working on Ruby projects at work feel so different from working on projects when I am doing something at home, events, hackathons or the like?
            %p I asked this question to many developers, their answers have lead me to rediscover my relationship with Ruby. Let me show you how I found the joy of programming in Ruby.

      %li.speaker
        .rounded
          %a{href: '#speaker14', rel: 'speaker_image', class: 'fancybox', id: 'patrick_vine'}
            = image_tag "images/speakers/2017/patrick_vine.png"
          %a{:href=>"https://twitter.com/patrick_vine", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/patrickvine", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker14', rel: 'speakers', class: 'fancybox'} Patrick Vine
        %p Building a learning culture.

        #speaker14.detail
          .links.right
            %a{:href=>"https://twitter.com/patrick_vine", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/patrickvine", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/patrick_vine.png"
            %h2 Patrick Vine
          .inner
            %p For 17 or so years I have been building software - developing, managing, leading and mentoring others. My current focus is around successfully keeping code fluid and able to change through building a deeper understanding of agile development practices, principles and values while coaching developers and teams to do the same. For the last several years this has been while working on Ruby / Rails applications.
            %h3 Building a learning culture.
            %p Experience is valuable.  How do you harness the experience and skill you have in your organisation for everyone’s benefit?  How do you extract the learnings gained from experiencing the pain and joy from living in the trenches?
            %p This talk will focus on building a joint understanding of software values and principles in order to build a shared view of why we build the things we build the way we build them. It will delve into some of the activities that we are doing in an organisation of 18 (and growing) ruby developers - what worked, what didn’t and what we hope to try next.

      %li.speaker
        .rounded
          %a{href: '#speaker15', rel: 'speaker_image', class: 'fancybox', id: 'clarice_bouwer'}
            = image_tag "images/speakers/2017/clarice_bouwer.jpg"
          %a{:href=>"https://twitter.com/cbillowes", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/cbillowes", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker15', rel: 'speakers', class: 'fancybox'} Clarice Bouwer
        %p The Imposter Within

        #speaker15.detail
          .links.right
            %a{:href=>"https://twitter.com/cbillowes", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/cbillowes", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "images/speakers/2017/clarice_bouwer.jpg"
            %h2 Clarice Bouwer
          .inner
            %p Clarice Bouwer makes software for people. Living outside her comfort zone keeps her challenged and continuously learning. She enjoys solving problems and bridging communication between business and technology.
            %h3 The Imposter Within
            %p Imposter Syndrome impacts my day-to-day decisions and confidence, affects growth by limiting opportunities and makes me feel unworthy. I'd like to share my experience & perspective of feeling like a fraud with other software professionals.

      %li.speaker
        .rounded
          %a{href: '#speaker16', rel: 'speaker_image', class: 'fancybox', id: 'grant_speelman'}
            = image_tag "speakers/2015/grant_speelman.jpg"
          %a{:href=>"https://twitter.com/grantspeelman", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/grantspeelman", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker16', rel: 'speakers', class: 'fancybox'} Grant Speelman
        %p Feedback for the developer who codes solo

        #speaker16.detail
          .links.right
            %a{:href=>"https://twitter.com/grantspeelman", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/grantspeelman", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2015/grant_speelman.jpg"
            %h2 Grant Speelman
          .inner
            %p I like Ruby
            %h3 Feedback for the developer who codes solo
            %p Ruby Analytic tools can give value feedback when working alone or even as a team.
            %p Quick overview of why feedback is important and how the following tools could be of help: rubocop, brakeman, reek, flay, rubycritic, bundler-audit, simplecov, guard, pronto, overcommit.

      %li.speaker
        .rounded
          %a{href: '#speaker17', rel: 'speaker_image', class: 'fancybox', id: 'kevin_mckelvin'}
            = image_tag "speakers/2017/kevin.jpg"
          %a{:href=>"https://twitter.com/kmckelvin", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/kmckelvin", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker17', rel: 'speakers', class: 'fancybox'} Kevin McKelvin
        %p What's new in Ruby 2.4

        #speaker17.detail
          .links.right
            %a{:href=>"https://twitter.com/kmckelvin", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/kmckelvin", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2017/kevin.jpg"
            %h2 Kevin McKelvin
          .inner
            %p Kevin is the CTO at Resource Guru based in London, UK. He's a former C# developer turned polyglot, using Ruby, JavaScript and Go on a daily basis. He has strange obsessions about craftsmanship, TDD and guitars.
            %h3  What's new in Ruby 2.4
            %p Every Christmas we get a present in the form of a new Ruby release. Let's unwrap the new toys together in this talk.

      %li.speaker
        .rounded
          %a{href: '#speaker18', rel: 'speaker_image', class: 'fancybox', id: 'dane_balia'}
            = image_tag "speakers/2017/dane_balia.jpg"
          %a{:href=>"https://twitter.com/danebalia", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/daneb", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker18', rel: 'speakers', class: 'fancybox'} Dane Balia
        %p The 360˚ Developer

        #speaker18.detail
          .links.right
            %a{:href=>"https://twitter.com/danebalia", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/daneb", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2017/dane_balia.jpg"
            %h2 Dane Balia
          .inner
            %p I'm ruby code still in production, debugged every now and then, and mostly spending time internalizing my refactors.
            %h3  The 360˚ Developer
            %p My journey discovering a pathway to mastery through “balance”. 3 Tales that focus on three skill areas that can make us better problem solvers, better employees and overall better developers.
    %div.clearfix
    = partial('/global/signup')
