%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers
    %ul
      %li.speaker
        .rounded
          %a{href: '#speaker100', rel: 'speaker_image', class: 'fancybox', id: 'you'}
            = image_tag "speakers/you.png"
          %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker100', rel: 'speakers', class: 'fancybox'} You?
        %p Your talk's description

        #speaker100.detail
          .links.right
            %a{:href=>"https://twitter.com/rubyfuza/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/Rubyfuza/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/you.png"
            %h2 Your name right here.
          .inner
            %a{:href=>"http://cfp.rubyfuza.org", :class=>"button button-3d button-primary button-rounded"} Submit your talk today!
            %br
            %br
            %p Rubyfuza is the only African conference for Ruby developers. The event comprises of two days of single-track presentations and an additional workshop day. The organizers of Rubyfuza 2016 is encouraging the submission of proposals for 30-minute presentations OR workshops related to Ruby development. Sessions may be geared toward non-expert audiences or focus on topics relevant to experienced developers. The deadline to submit proposals is December 31, 2016.

      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox', id: 'coraline_ada'}
            = image_tag "speakers/2017/coraline_ada.jpg"
          %a{:href=>"https://twitter.com/CoralineAda/", :class=>"twitter"}= image_tag "twitter.png"
          %a{:href=>"https://github.com/CoralineAda/", :class=>"github"}= image_tag "github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Coraline Ada Ehmke
        -# %p Factory, Workshop, Stage

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/CoralineAda/", :class=>"twitter"}= image_tag "twitter.png"
            %a{:href=>"https://github.com/CoralineAda/", :class=>"github"}= image_tag "github.png"
          .name
            = image_tag "speakers/2017/coraline_ada.jpg"
            %h2 Coraline Ada Ehmke
          .inner
            %p Coraline has been programming professionally in Ruby since 2007. She is the author of 25 Ruby gems and has contributed to major projects including Rspec and Rails. She is a frequent speaker at conferences around the world, including RailsConf. Coraline was a 2016 recipient of the Ruby Hero award.

            %p Coraline created OS4W.org, a resource for connecting all women, including women of colour and transgender women, to open source projects. She is also the creator of the Contributor Covenant, a code of conduct used in over 14,000 open source projects. She is on the board of directors for Ruby


    %div.clearfix
    = partial('/global/signup')
