%section#sponsors
  .wrapper
    %h1.heading
      %a{:name=>"sponsors"}
      %span Sponsors

    %ul.sponsors-list
      %li.half
        %a{:href=>"#thoughtworks", :class=>"info fancybox", rel: 'sponsors', :title=>"ThoughtWorks"}
          = image_tag "logos/thoughtworks.png"
        .row
          %a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com
        %small Ruby-level and Thursday Night sponsor

        #thoughtworks.detail
          %a{:href=>"https://www.thoughtworks.com"}
            = image_tag "logos/thoughtworks2.png", :class => 'square'
          %p We’re a global company of passionate technologists. Our mission is to better humanity through software and help drive the creation of a socially and economically just world.
          %p Founded 22 years ago, we have over 3,600 employees in 36 offices across six continents.
          %p Our clients think big. They are people and organizations with ambitious missions. They are disrupting retail, healthcare, travel, education, media, government, telecommunications and the humanitarian sector. They want to unleash the power of software for their cause or business. We help them envision, design and deliver.
          %p We think building great software is a social activity, best done by teams of brilliant people. It's not a mechanical process where individuals are interchangeable cogs in a master plan. Our clients want to create and deliver products that blow their customers' minds. We get the right people working together to make it happen.
          %p Along with many of our clients, we are agents of progressive change in the world. Aware of our own privilege, we strive to see the world from the perspective of the oppressed, the powerless, and the invisible.

          %span.right Ruby-level and Thursday Night sponsor
          %a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com

      %li.half
        %a{:href=>"#offerzen", :class=>"info fancybox", rel: 'sponsors', :title=>"OfferZen"}
          = image_tag "logos/offerzen.png"
        .row
          %a{:href=>"http://www.offerzen.com", :target=>"_blank", :title=>"OfferZen"} offerzen.com
        %small Ruby-level sponsor

        #offerzen.detail
          %a{:href=>"https://www.offerzen.com"}
            = image_tag "logos/offerzen2.png", :class => 'square'
          %p On OfferZen instead of applying for jobs, companies send you interview requests with upfront salary details. You decide which companies to interview with by comparing salary, the work you’ll be doing, learning opportunities, work environment, and perks that companies offer.
          %p We made OfferZen to be exactly what we would want:
          %ul.list
            %li No recruiters involved ever - deal directly with the company.
            %li We manually approve all companies to make sure only awesome companies are hiring on OfferZen.
            %li You get multiple interview requests with upfront salary info - so you can see what you’re worth.
            %li Your email isn't shared with anyone - no spam ever.
            %li Your profile is hidden from everyone except from companies we’ve approved.
            %li Your current employer is blocked from seeing you.

          %span.right Ruby-level sponsor
          %a{:href=>"http://www.offerzen.com", :target=>"_blank", :title=>"OfferZen"} offerzen.com

      %ul.sponsors-list
        %li.third
        %li.third
          %a{:href=>"#vulcan_labs", :class=>"info fancybox", rel: 'sponsors', :title=>"Vulcan Labs"}
            = image_tag "logos/vulcanlabs_d.png"
          .row
            %a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com
          %small Topaz-level Thursday lunch sponsor

          #vulcan_labs.detail
            %a{:href=>"http://www.vulcanlabs.com"}
              = image_tag "logos/vulcanlabs2.png", :class => 'square'
            %p We help companies collect, process and visualize their business data to gain competitive advantage.
            %p Vulcan Labs is a leading boutique provider of software development and consulting services with a specific focus on the Business Intelligence domain. We develop a range of highly customisable products that enable businesses to better collect, collate, analyse and report on critical business data.
            %span.right Topaz-level Thursday lunch sponsor
            %a{:href=>"http://www.vulcanlabs.com/#services", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com

    %h2.highlight
      Interested in sponsoring this event?
      Check out the
      %a{:href=>"/downloads/Rubyfuza%202017%20Sponsorship%20Prospectus.pdf"} prospectus
      and drop us an
      = link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'
      Last year's
      =link_to 'sponsors', '/2016.html#sponsors'
