%section#sponsors
  .wrapper
    %h1.heading
      %a{:name=>"sponsors"}
      %span Sponsors

    %ul.sponsors-list
      %li.third
      %li.third
        %a{:href=>"#thoughtworks", :class=>"info fancybox", rel: 'sponsors', :title=>"ThoughtWorks"}
          = image_tag "logos/thoughtworks.png"
        .row
          %a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com
        %small Ruby-level and Thursday Night sponsor

        #thoughtworks.detail
          %a{:href=>"https://www.thoughtworks.com"}
            = image_tag "logos/thoughtworks2.png", :class => 'square'
          %p We’re a global company of passionate technologists. Our mission is to better humanity through software and help drive the creation of a socially and economically just world.
          %p Founded 22 years ago, we have over 3,600 employees in 36 offices across six continents.
          %p Our clients think big. They are people and organizations with ambitious missions. They are disrupting retail, healthcare, travel, education, media, government, telecommunications and the humanitarian sector. They want to unleash the power of software for their cause or business. We help them envision, design and deliver.
          %p We think building great software is a social activity, best done by teams of brilliant people. It's not a mechanical process where individuals are interchangeable cogs in a master plan. Our clients want to create and deliver products that blow their customers' minds. We get the right people working together to make it happen.
          %p Along with many of our clients, we are agents of progressive change in the world. Aware of our own privilege, we strive to see the world from the perspective of the oppressed, the powerless, and the invisible.

          %span.right Ruby-level and Thursday Night sponsor
          %a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com

    %ul.sponsors-list
      %li.third
        %a{:href=>"#jumo", :class=>"info fancybox", rel: 'sponsors', :title=>"JUMO"}
          = image_tag "logos/jumo.png"
        .row
          %a{:href=>"http://www.jumo.world", :target=>"_blank", :title=>"JUMO"} jumo.world
        %small Sapphire-level Swag bags and Coffee sponsor

        #jumo.detail
          %a{:href=>"http://www.jumo.world"}
            = image_tag "logos/jumo2.png", :class => 'square'
          %p JUMO is a transaction and predictive technology platform for people, mobile networks and banks. We help people and small businesses in emerging markets access great savings and borrowing choices, we help mobile networks grow their mobile money ecosystems and we help banks become better at understanding their customers and offering them better choices.
          %p JUMO has grown from a team of 7 to 225, rolling out our products across Kenya, Tanzania, Zambia, Uganda, Rwanda and Ghana with our partners, Airtel, Tigo and MTN. We use data to understand what financial opportunities people need and then we put the power of that choice in the palm of their hands.
          %p JUMO’s proprietary platform lets more people in more places access the benefits of digital financial services. We love mobile money and we are working hard to reach people who have not had these choices before.
          %span.right Sapphire-level Swag bags and Coffee sponsor
          %a{:href=>"http://careers.jumo.world/candidateapp/Jobs/Browse.aspx", :target=>"_blank", :title=>"JUMO"} jumo.world
      %li.third
        %a{:href=>"#zappi", :class=>"info fancybox", rel: 'sponsors', :title=>"Zappi"}
          = image_tag "logos/zappi.png"
        .row
          %a{:href=>"https://www.zappistore.com/", :target=>"_blank", :title=>"OfferZen"} zappistore.com
        %small Sapphire-level sponsor

        #zappi.detail
          %a{:href=>"https://www.zappistore.com/"}
            = image_tag "logos/zappi2.png", :class => 'square'
          %p Zappi is bringing the promise of one-click automation to market research.  Zappi’s online Market Research App Store allows people to purchase a range of research apps to answer specific business questions and receive detailed, automated answers in a matter of hours instead of weeks.  Zappi automates everything from data collection via a panel management service, to analysis via our cutting-edge data modelling engine, to reporting via a sophisticated web front-end.

          %span.right Sapphire-level sponsor
          %a{:href=>"https://www.zappistore.com/", :target=>"_blank", :title=>"OfferZen"} zappistore.com
      %li.third
        %a{:href=>"#offerzen", :class=>"info fancybox", rel: 'sponsors', :title=>"OfferZen"}
          = image_tag "logos/offerzen.png"
        .row
          %a{:href=>"http://www.offerzen.com", :target=>"_blank", :title=>"OfferZen"} offerzen.com
        %small Sapphire-level sponsor

        #offerzen.detail
          %a{:href=>"https://www.offerzen.com"}
            = image_tag "logos/offerzen2.png", :class => 'square'
          %p On OfferZen instead of applying for jobs, companies send you interview requests with upfront salary details. You decide which companies to interview with by comparing salary, the work you’ll be doing, learning opportunities, work environment, and perks that companies offer.
          %p We made OfferZen to be exactly what we would want:
          %ul.list
            %li No recruiters involved ever - deal directly with the company.
            %li We manually approve all companies to make sure only awesome companies are hiring on OfferZen.
            %li You get multiple interview requests with upfront salary info - so you can see what you’re worth.
            %li Your email isn't shared with anyone - no spam ever.
            %li Your profile is hidden from everyone except from companies we’ve approved.
            %li Your current employer is blocked from seeing you.

          %span.right Sapphire-level sponsor
          %a{:href=>"http://www.offerzen.com", :target=>"_blank", :title=>"OfferZen"} offerzen.com


    %ul.sponsors-list
      %li.third
        %a{:href=>"#prodigyfinance", :class=>"info fancybox", rel: 'sponsors', :title=>"Prodigy Finance"}
          = image_tag "logos/prodigy-white.png"
        .row
          %a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com
        %small Topaz-level sponsor

        #prodigyfinance.detail
          %a{:href=>"https://www.prodigyfinance.com/", :target=>"_blank", :title=>"Prodigy Finance"}
            = image_tag "logos/prodigy-logo.svg", :class => 'square'
          %p Prodigy Finance is a platform that enables financing for international postgraduate students at the world’s best universities, whilst delivering competitive financial and social returns to alumni, institutional and private investors.
          %p This borderless and innovative model enables education loan financing to students from across the globe, whilst using predicted post-degree affordability rather than present-day salary. Since 2007, Prodigy Finance has processed over US$200 million through the platform to fund students from 118 nationalities, with repayment rates in excess of 99%.
          %p We are funded by some of the best, pre-eminent institutions and entrepreneurs in the world.  We’ve raised over $100 million from Credit Suisse, Balderton Capital and Deutsche Bank, and also private investors who themselves have grown $1bn+ companies such as Ed Wray, the Co-founder of Betfair and David Stevens, the Co-founder of Admiral Insurance.
          %p To date, Prodigy Finance has funded degrees at more than 80 of the of FT Top 100 ranked business schools, including INSEAD, Wharton, Chicago Booth, Columbia Business School, London Business School, NUS, Saïd Business School (Oxford University) and Stanford.
          %span.right Topaz-level sponsor
          %a{:href=>"https://prodigyfinance.com/careers", :target=>"_blank", :title=>"Prodigy Finance"} prodigyfinance.com

      %li.third
        %a{:href=>"#amazon", :class=>"info fancybox", rel: 'sponsors', :title=>"Amazon Development Centre South Africa"}
         = image_tag "logos/adccpt.png"
        .row
        %a{:href=>"http://www.adccpt.com/?page_id=95", :target=>"_blank", :title=>"Amazon Development Centre South Africa"} www.adccpt.com
        %small Topaz-level sponsor

        #amazon.detail
          %a{:href=>"http://www.adccpt.com/?page_id=95"}
            = image_tag "logos/adccpt2.png", :class => 'square'
          %p In 2006, Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business. With the Cloud, businesses no longer need to plan for and procure servers and other IT infrastructure weeks or months in advance. Instead, they can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. Today, Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers hundreds of thousands of businesses in 190 countries around the world.
          %p
            We are still expanding our respective teams, so please feel free to explore our
            %a{:href=>'http://www.adccpt.com/?page_id=19'} open roles available in Cape Town

            If you have a background in Computer Science and are passionate about cloud computing, send your CV to
            %a{:href => 'mailto:recruiting-team-aws-cpt@amazon.com'} recruiting-team-aws-cpt@amazon.com
          %p
          %span.right Topaz-level sponsor
          %a{:href=>"http://www.adccpt.com/?page_id=95", :target=>"_blank", :title=>"Amazon Web Services"} www.adccpt.com

      %li.third
        %a{:href=>"#vulcan_labs", :class=>"info fancybox", rel: 'sponsors', :title=>"Vulcan Labs"}
          = image_tag "logos/vulcanlabs_d.png"
        .row
          %a{:href=>"http://www.vulcanlabs.com", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com
        %small Topaz-level Thursday lunch sponsor

        #vulcan_labs.detail
          %a{:href=>"http://www.vulcanlabs.com"}
            = image_tag "logos/vulcanlabs2.png", :class => 'square'
          %p We help companies collect, process and visualize their business data to gain competitive advantage.
          %p Vulcan Labs is a leading boutique provider of software development and consulting services with a specific focus on the Business Intelligence domain. We develop a range of highly customisable products that enable businesses to better collect, collate, analyse and report on critical business data.
          %span.right Topaz-level Thursday lunch sponsor
          %a{:href=>"http://www.vulcanlabs.com/#services", :target=>"_blank", :title=>"Vulcan Labs"} vulcanlabs.com

      %ul.sponsors-list
        %li.third
        %li.third
          %a{:href=>"#resource_guru", :class=>"info fancybox", rel: 'sponsors', :title=>"Resource Guru"}
            = image_tag "logos/resource_guru.png"
          .row
            %a{:href=>"http://resourceguru.io/rubyfuza", :target=>"_blank", :title=>"Vulcan Labs"} resourceguru.io
          %small Opal-level sponsor

          #vulcan_labs.detail
            %a{:href=>"http://resourceguru.io/rubyfuza"}
              = image_tag "logos/resource_guru2.png", :class => 'square'
            %p Resource Guru is a cloud-based team calendar and leave management tool. It’s the fast, simple way to schedule people, equipment and other resources online.
            %p A shared schedule gives you full visibility of resources, projects, meetings and downtime, and the user-friendly drag and drop interface makes creating, moving, and deleting bookings a breeze. Powerful reports deliver new insights on key metrics like utilization, overtime and absence.
            %p Start a free 30 day trial today and see why customers from over 90 countries around the world including Intel, Vodafone, Disney, Deloitte, and VMware, trust Resource Guru to handle one of their most precious assets - their people’s time.
            %span.right Opal-level sponsor
            %a{:href=>"http://resourceguru.io/rubyfuza", :target=>"_blank", :title=>"Vulcan Labs"} resourceguru.io

    %h2.highlight
      Interested in sponsoring this event?
      Check out the
      %a{:href=>"/downloads/Rubyfuza%202017%20Sponsorship%20Prospectus.pdf"} prospectus
      and drop us an
      = link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'
      Last year's
      =link_to 'sponsors', '/2016.html#sponsors'
