%header#header
  = partial('/global/prior_nav')

  .wrapper
    %a{:name=>"about"}
    %h1
      %a{:href=>"/", :alt=>"RubyFuza Home"}
        = image_tag "logo.png"

    %h2
      7-9 February 2013
      %span Cape Town, South Africa

    %h3
      Africa's premier Ruby conference
      %span Great talks, great people and great parties!
    %a{:href=>"http://www.youtube.com/rubyfuza", :class=>"action"} View the videos!

    .conf
      = image_tag "collage3.png"

    %ul.features
      %li.third
        %p
          = image_tag "icon1.png", :class => 'left'
          %span 2 days, 20 speakers, single track
      %li.third
        %p
          = image_tag "icon2.png", :class => 'left'
          %span Evening functions / networking time
      %li.third
        %p
          = image_tag "icon3.png", :class => 'left'
          %span Workshop day after the conference
      %li.full
        %p
          Early bird R900, Full price R1200
          %span * includes both days, snacks & workshop (seating limited)
