---
layout: default
---

= partial('partials/2015/header')
= partial('partials/2015/speakers')
= partial('partials/2015/schedule')
= partial('partials/2015/workshops')
= partial('partials/2015/venue')
= partial('partials/2015/sponsors')
= partial('partials/2015/blog')
= partial('partials/2015/footer2015')