---
layout: default
---

= partial('partials/2016/header')
= partial('partials/2016/speakers')
= partial('partials/2016/schedule')
= partial('partials/2016/workshops')
= partial('partials/2016/sponsors')
= partial('partials/2016/venue')
= partial('partials/previous_year')
= partial('partials/2016/footer2016')
