---
layout: default
---

= partial('partials/header')
= partial('partials/speakers')
= partial('partials/schedule')
/ = partial('partials/workshops')
= partial('partials/sponsors')
= partial('partials/venue')
= partial('partials/global/links')
= partial('partials/previous_year')
= partial('partials/footer2016')