---
layout: default
---

= partial('partials/2018/header')
= partial('partials/2018/speakers')
-# = partial('partials/2018/schedule')
-# = partial('partials/2018/workshops')
= partial('partials/2018/sponsors')
= partial('partials/2018/venue')
-# = partial('partials/global/links')
= partial('partials/previous_year')
= partial('partials/2018/footer2018')
